<?php
$form = $this->form;
$media_form = $this->media_form;
$form->prepare();

$activity = $form->get('activity');
$place = $activity->get('place');

$representative = $form->get('representative');
$set_place = $form->get('set_place');
$add_persons = $form->get('add_persons');
$persons = $activity->get('persons');
$reviewed = $activity->get('reviewed')->getValue();
?>

<script>

    var debug = false;
    //Array of persons
    //On the form (id, name, path)
    var person_array = new Array();
    //Array of medias
    //On the form {'path_to_media_1, path_to_media_2'}
    var media_array = new Array();

    //New persons selected. Update the html code
    //array must be on the form Array(id, name, path)
    function update_persons(p_array, editable) {
        //Default value true
        editable = typeof editable !== 'undefined' ? editable : true;
        if (empty(p_array)) {
            return;
        }
        for (var i in p_array) {
            var person_id = p_array[i][0];
            var person_name = p_array[i][1];
            var person_path = p_array[i][2];
            //check if we already have this person
            var has_already = has_item(person_array, person_id);
            if (!has_already) {
                //Add to global array
                var new_length = person_array.push(p_array[i]);
                //Add the hidden form variable
                var hidden_id =
                        "<input type='hidden' name='activity[persons][" + (new_length - 1) + "][personId]' " +
                        "id='hidden_person_id_" + person_id + "' value='" + p_array[i][0] + "'>" +
                        "<input type='hidden' name='activity[persons][" + (new_length - 1) + "][src]' " +
                        "id='hidden_person_src_" + person_id + "' value='" + p_array[i][2] + "'>";

                $("#persons_id").append(hidden_id);
                //Add the graphics
                var graphics =
                        "<div class='standard cell' id= 'picked_person_" + person_id + "'>" +
                        "<img src='" + person_path + "' class='preview small' " +
                        "id='set_person_image' alt='" + person_name + "' " +
                        "onclick='" +
<?php if ($this->view_only == true) { ?>
                    "open_info_window(\"/person/view/" + person_id + "\", \"\")'" +
<?php } else { ?>
                    "delete_person(" + person_id + ")' " +
<?php } ?>
                ">" +
                        "</div>";
                $("#picked_persons").append(graphics);
                //< div class = "ics =  cell" id = "a_picked_person" > < /div>
                if (debug === true) {
                    console.log('update_persons graphics: ' + graphics);
                }
            }
        }
    }

    //Delete a person from the page html
    function delete_person(id) {
        //Delete the hidden form element
        $("#hidden_person_src_" + id).remove();
        $("#hidden_person_id_" + id).remove();
        //Also delete the graphics
        $("#picked_person_" + id).remove();
        //Delete from the global array as well
        person_array = remove_item(person_array, id);
    }

    //Function to initialize the persons
    function init_persons() {
        var persons = new Array();
<?php
foreach ($persons as $p):
    //On the form (id, name, path)
    $p_id = $p->get('personId')->getValue();
    $p_name = $p->get('firstName')->getValue() . ' ' . $p->get('lastName')->getValue();
    $p_src = $p->get('src')->getValue();
    if (!empty($p_id)) {
        echo "persons.push(new Array('" . $p_id . "','" . $p_name . "','" . $p_src . "'));\n";
    }
endforeach;
?>
        if (debug === true) {
            console.log('init persons: ' + persons.toString());
        }
        update_persons(persons, false);
    }

    //Change the subject persons
    //TODO: This is just a test function. All languages might not support the 'with'
    //functionality. Something smarter might be needed.
    function change_subject_person() {
        var current_subject = $("#subject").val();
        var substring = current_subject;
        var with_index = current_subject.search('<?= $this->translate('with') ?>');
        if (with_index !== -1) {
            //delete all after the with_index (=the persons in the subject)
            substring = current_subject.substring(0, with_index);
        }
        var new_subject;
        if (person_array.length > 0) {
            //Add first name
            new_subject = $.trim(substring) + ' with ' + person_array[0][1];
            for (var i = 1, len = person_array.length;
                    i < len;
                    i++) {
                //Add all the other names
                new_subject = $.trim(new_subject) + ' and ' + person_array[i][1];
            }
            $("#subject").val($.trim(new_subject));
        } else {
            //No persons left. Delete last string
            $("#subject").val($.trim(substring));
        }
    }


    //We have a new place selected. Update the html code
    //array must be on the form Array(id, name, path)
    function update_place(p_array, editable) {
        //Default value true
        editable = typeof editable !== 'undefined' ? editable : true;
        if (debug === true) {
            console.log('p_array[0]: ' + p_array[0] + ', p_array[1]: ' + p_array[1] + ', p_array[2]: ' + p_array[2]);
        }
        if (!empty(p_array) && p_array[0] && p_array[1] && p_array[2]) {
            var changed_id = p_array[0];
            var changed_name = p_array[1];
            var changed_src = p_array[2];
            $("#set_place_image").attr("src", changed_src);
            $("#set_place_image").attr("alt", changed_name);
            //Delete the hidden form element (if any)
            $("#place_hidden_id").remove();
            var hidden_id =
                    "<input type='hidden' name='activity[place][placeId]' " +
                    "id='place_hidden_id' " + "value='" + changed_id + "'>";
            //Place new id element
            $("#place_id").append(hidden_id);
            //$("#placeId").attr("value", changed_id);
            if (debug === true) {
                console.log('update_place hidden: ' + hidden_id);
            }
        }
    }

    //Change the subject place
    //TODO: This is just a test function. All languages might not support the 'with'
    //functionality. Something smarter might be needed.
    function change_subject_place(placeName) {
        //Default value empty string
        placeName = typeof placeName !== 'undefined' ? placeName : "";
        var current_subject = $.trim($("#subject").val());
        var with_index = current_subject.search('<?= $this->translate('with') ?>');
        //delete all before the with_index (=the place in the subject)
        var substring = "";
        if (with_index !== -1) {
            substring = current_subject.substring(with_index, current_subject.length);
        }
        //add new name
        var new_subject = placeName + ' ' + $.trim(substring);
        //inject new subject into parent window
        $("#subject").val($.trim(new_subject));
    }

    function init_place() {
        var place = new Array();
<?php
//On the form (id, name, path)
$pl_id = $place->get('placeId')->getValue();
$pl_name = $place->get('placeName')->getValue();
$pl_src = $place->get('src')->getValue();
if (!empty($pl_id)) {
    echo "place.push('" . $pl_id . "','" . $pl_name . "','" . $pl_src . "');\n";
}
?>
        if (debug === true) {
            console.log('init place: ' + place.toString());
        }
        update_place(place, false);

    }

    //Add a media to this page
    function add_media(image_path) {
        //Default value empty string
        image_path = typeof image_path !== 'undefined' ? image_path : "";
        var currentCount = $('#media_collection :input[name*="mediaId"]').length;
        var open_script = "deselect_this_media(" + currentCount + ")";
<?php if ($this->view_only == true) { ?>
            open_script = "open_info_window('/activity/viewmedia/" + currentCount + "', '')";
<?php } ?>
        //Render this template
        add_media_from_template(currentCount, image_path, open_script);
        //Set global array
        media_array.push(image_path);
        return false;
    }

    //Selects media when reviewing and activity
    //Selected media are SAVED to the database in the end
    //Do not change this function name
    function select_media(media_number) {
        //Get the current input image for this media
        var input_image = $('#media_collection :input[name*="\\[' + media_number + '\\]\\[image\\]"]');
        var old_class = input_image.attr('class');
        var new_class = old_class + " selectedMedia";
        //Get src from input image
        var src = input_image.attr('src');
        //Change the open_scripot
        var string_to_remove = "_REMOVE_ME_";
        //Check if hidden media fields already exists!
        var id = $('#media_collection :input[name*="\\[' + media_number + '\\]\\[mediaId\\]"]').attr('value');
        if (typeof id === 'undefined' || id === null) {
            //Add all the hidden fields with the template
            add_media_from_template(media_number, src, string_to_remove);
            //Delete the new image, we alreay have on!
            $('#media_collection :input[onclick*="_REMOVE_ME_"]').remove();
            //Add the new class to this new image
            //Transform the selectable image into a deselectable image
            input_image.attr('class', new_class);
            input_image.attr('onclick', "deselect_this_media(" + media_number + ");return false;");
            //Also add this media from the global media_array used by other pages
            var index = media_array.indexOf(media_number);
            //Just store our media_number as element instead of src
            media_array[index] = src;
        }
    }

    //Deselects media when reviewing an activity
    //Deselected media ARE NOT saved to the database in the end
    //IMPORTANT do not change this function name
    function deselect_this_media(media_number) {
        //Remove the marking from this media image
        var input_image = $('#media_collection :input[name*="\\[' + media_number + '\\]\\[image\\]"]');
        var old_class = input_image.attr('class');
        var new_class = old_class.replace(" selectedMedia", "");
        //Remove all hidden fields BUT the input image for this media
        $('#media_collection :input[name*="\\[' + media_number + '\\]"]').each(function() {
            //Remove everything BUT the image
            if (!input_image.is($(this))) {
                $(this).remove();
            }
        });
        //Transform the deselectable image into a selectable image
        input_image.attr('class', new_class);
        input_image.attr('onclick', "select_media(" + media_number + ");return false;");
        //Also remove this media from the global media_array used by other pages
        var src = input_image.attr('src');
        var index = media_array.indexOf(src);
        //Just store our media_number as element instead of src
        media_array[index] = media_number;
    }

    //select all the medias
    function select_all() {
        $('#media_collection :input[name*="image"]').each(function() {
            //Click on everyone that have a select_media onclick
            if ($(this).attr('onclick').indexOf("select_media") !== -1) {
                $(this).click();
            }
        });

    }

    //deselect all the medias
    function deselect_all() {
        $('#media_collection :input[name*="image"]').each(function() {
            //Click on everyone that have a deselect_this_media onclick
            if ($(this).attr('onclick').indexOf("deselect_this_media") !== -1) {
                $(this).click();
            }
        });
    }

    //Adds and fills up all fields belonging to a media from the template
    function add_media_from_template(index, image_path, open_script) {
        var template = $('#media_collection > span').data('template');
        //Populate this template with data
        template = template.replace(/__placeholder__/g, index);
        template = template.replace(/__src_to_be_changed__/g, image_path);
        template = template.replace(/__script_to_add__/g, open_script);
        //Render this template
        $('#media_collection').append(template);
    }

    //Init media that already exists
    function init_media() {
        //Check how many medias there are on page
        var currentCount = $('#media_collection :input[name*="mediaId"]').length;
        for (var i = 0; i < currentCount; i++) {
            //<input name="activity[medias][0][src]" value="/data/uploaded/temp/lulea_51ec9751bc816.jpg" type="hidden">
            var src = $('#media_collection :input[name*="\\[' + i + '\\]\\[src\\]"]').attr('value');
<?php if ($this->view_only == true) { ?>
                var open_script = "open_info_window('/activity/viewmedia/" + i + "', '')";
<?php } else { ?>
                var open_script = "deselect_this_media(" + i + ")";
<?php } ?>
            //Set onclick for new image element
            $('#media_collection :input[name*="\\[' + i + '\\]\\[image\\]"]').attr('onclick', open_script + ';return false;');
            //Set global array
            media_array.push(src);
        }
    }


    //Posting media to server when pressing 'upload image'
    function post_media(form) {
        send_file(form);
    }

    //AJAX upload of picture
    function send_file(form) {
        var form = new FormData(form);
        $.ajax({
            type: 'post',
            url: '/activity/setmedia',
            data: form,
            success: function(response) {
                //convert json to javascript
                data = JSON.parse(response);
                if (data.response == true) {
                    //success
                    add_media(data.image_path);
                } else {
                    // print error message
                    console.log('Could not add media');
                }
            },
            error: function() {
                alert("Something is wrong with file uploader");
            },
            xhrFields: {
                onprogress: function(progress) {
                    //calculate upload progress
                    var percentage = Math.floor((progress.total / progress.totalSize) * 100);
                    //log upload progress to console
                    console.log('progress', percentage);
                    if (percentage === 100) {
                        console.log('DONE!');
                    }
                }
            },
            processData: false,
            cache: false,
            contentType: false
        }, 'json');
    }

    //Updates the representative
    //Called from a child page with data
    function update_representative(changed_src) {
        $("#representative_image").attr("src", changed_src);
        //Delete the hidden form element (if any)
        $("#activity_src_hidden").remove();
        var hidden_src =
                "<input type='hidden' name='activity[src]' " +
                "id='activity_src_hidden' " + "value='" + changed_src + "'>";
        //Place new src element
        $("#representative_hidden").append(hidden_src);
    }
    
    //Gets the date and subject of this activity
    function get_date_and_subject() {
        returnstring = $("#subject").val() + "<br />\n" +
                "<?= $this->translate("From") ?>: " + $("#datetimepicker_start").val() + ", " +
                "<?= $this->translate("To") ?>: " + $("#datetimepicker_end").val();
        return returnstring;
    }
    
    //Automatically generates a subject for the user
    function generate_subject(){
        //Clear current subject
        $("#subject").val("");  
        var placeName = $("#set_place_image").attr("alt");
        //Set placeName (if any)
        change_subject_place(placeName);
        //Set persons (if any)
        change_subject_person();
        
    }

    //Call this function when loading the page for first time
    //Updates the place, persons and medias
    function init() {
        init_persons();
        init_place();
        init_media();
    }

    //Update page when window is rendered
    $(window).load(function() {
        init();
    })

</script>



<h2><?= $this->translate($activity->getLabel()) ?></h2>

<?= $this->form()->openTag($form); ?>

<div class="standard">
    <div class="standard newrow">
        <div class ="standard cell">
            <?php
            echo $this->formHidden($activity->get('activityId'));
            echo $this->formHidden($activity->get('src'));
            echo $this->formHidden($form->get('csrf'));
            echo $this->formHidden($form->get('specialFlag'));
            echo $this->formRow($activity->get('subject'));
            if ($this->view_only !== true) {
                echo "<a href='javascript:void(0)' onclick='generate_subject();'>"
                . $this->translate('Generate subject'). 
                "</a>";
            }
            echo "<label><span>";
            echo $this->translate('Status');
            echo "</span>";
            if ($reviewed) {
                echo "<div class='reviewtext'>" . $this->translate('Reviewed') . "</div>";
            } else {
                echo "<div class='reviewtext no'>" . $this->translate('Not Reviewed') . "</div>";
                ;
            }
            echo "</label>";

            echo $this->formRow($activity->get('description'));
            echo $this->formRow($activity->get('storyCategory'));
            ?>
        </div>
        <div class ="standard cell">
            <div class="standard">
                <div class="standard cell">
                    <?= $this->formButton($form->get('submit-yes')); ?>
                </div>
                <div class="standard cell">
                    <?= $this->formButton($form->get('submit-no')); ?>
                </div>
            </div>
            <br />
        </div>
    </div>
    <div class ="standard newrow">
        <div class ="standard cell">
            <div class="sample">
                <div class="sample cell">
                    <?= $this->formLabel($representative); ?>
                    <?= $this->formImage($representative); ?>
                    <div id='representative_hidden'>
                        <!--representative src goes here-->
                    </div>
                </div>
                <div class="sample cell">
                    <?= $this->formRow($activity->get('startTime')); ?>
                    <?= $this->formRow($activity->get('endTime')); ?>
                </div>
                <div class="sample cell">
                    <?= $this->formLabel($set_place); ?>
                    <?= $this->formImage($set_place); ?>
                    <div id='place_id'>
                        <!--picked place goes here-->
                    </div>
                </div>
                <div class="sample cell">
                    <?= $this->formLabel($add_persons); ?>
                    <?= $this->formImage($add_persons); ?>
                    <div class="standard" id="picked_persons">
                        <!--picked persons go here-->
                    </div>
                    <div id="persons_id">
                        <!--picked persons ids go here-->
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<?php
if ($form->has('upload')) {
    echo $this->formButton($form->get('select_all_button'));
    echo $this->formButton($form->get('deselect_all_button'));
    echo $this->formButton($form->get('upload')->get('upload-button'));
    echo "<br />";
}
?>

<div id="media_collection">
    <?= $this->formCollection($activity->get('medias'), true); ?>
</div>
<br />
<?= $this->form()->closeTag(); ?>
<br />

<?php
if (!empty($media_form)) {
    //Our second separate upload form that sends data to the setmedia action.
    //Sends with AJAX, so no reload of whole page
    $media_form->prepare();
    $upload = $media_form->get('upload');
    ?>
    <!--Media form-->
    <div id="media_div">
        <?= $this->form()->openTag($media_form); ?>
        <?= $this->formFile($upload->get('file')); ?>
        <?= $this->form()->closeTag(); ?>
    </div>
    <!--//Media form-->
<?php } ?>



