<?php
$form = $this->form;
$form->prepare();
$activity = $form->get('activity');
$id = $this->id;
?>

<h2><?= $this->translate($activity->getLabel()) ?></h2>

<hr />

<?= $this->form()->openTag($form); ?>

<div>
    <?php
    echo $this->formHidden($form->get('csrf'));
    echo $this->formHidden($form->get('specialFlag'));
    ?>

    <br />
    <div class="standard">
        <div class="standard cell">
            <input name="submit-yes" type="button" class="button-primary" onclick="special_submit(this.form);" value="<?= $this->translate('Yes') ?>">
        </div>
        <div class="standard cell">
            <input name="submit-no" type="button" class="button-primary" onclick="window.close()" value="<?= $this->translate('No') ?>">
        </div>
    </div>
    <br />
</div>
<?= $this->form()->closeTag(); ?>

