<div style="display:table; height:100%; width:100%;">
    <div style="display:table-cell; vertical-align:middle;">
        <div style="text-align:center" class="textblock">

        </div>
    </div>
</div>
