<script>

    var changed_src = "";
    var changed_name = "";
    var changed_id = "";

    //Displays the place user clicked on. Also sets the global js variables above.
    function pick_place(id, name, path) {
        $("#picked_place").html("<img src='" + path + "' class='preview small' id='place_preview'>");
        //Show all images
        $("div").show();
        //hide the picked place
        $("#" + id).hide();
        changed_src = path;
        changed_name = name;
        changed_id = id;
    }

    $(document).ready(function() {
        //When clicking button we set values in the parent page
        $("button").click(function() {
            if (changed_src) {
                window.opener.update_place(new Array(changed_id, changed_name, changed_src));
            }
            window.close();
        });

    });

</script>


<h2><?= $this->translate('Activity Place') ?></h2>
<hr />

<div class="standard" style="text-align: left">
    <div style="vertical-align:middle; text-align:left;" class="standard cell">
        <button type ="button" class="button-primary">
            <?= $this->translate('Back') ?>
        </button>
    </div>
    <div style="margin: 10px" style="vertical-align:middle; text-align:left;" class="standard cell">
        <div id="picked_place">
        </div>
    </div>
</div>

<br />

<h3><?= $this->translate('Pick a place') ?></h3>
<br />
<div class="sample">
    <?php
    foreach ($places as $place) :
        $path = $place->getSrc();
        $name = $place->getPlaceName();
        $id = $place->getPlaceId();
        ?>
        <div class="sample cell" id="<?= $id ?>">
            <?= $name ?><br />
            <a onclick="pick_place('<?= $id ?>', '<?= $name ?>', '<?= $path ?>')">
                <img src="<?= $path ?>" alt="<?= $name ?>" class="preview medium">
            </a>
        </div>
    <?php endforeach; ?>
</div>


