<script>

    //Array of persons
    //On the form (id, name, path)
    var person_array = new Array();
    //Displays the persons user clicked on. Also sets the global js variable above.
    function pick_person(id, name, path) {
        $("#picked_person").append(
                "<img src='" + path + "' class='preview small' id='picked_"
                + id + "' onclick='delete_person('" + id + "')' > ");
        //hide the picked person from sample list
        $("#sample_" + id).hide();
        var person = new Array(id, name, path);
        person_array.push(person);
    }

    //Delete a person from the picked person list
    function delete_person(id) {
        //Remove the person from picked list
        person_array = remove_item(person_array, id);
        //Show the person as selectable again
        $("#sample_" + id).show();
        //Remove person image as selected
        $("#picked_" + id).remove();
    }

    $(document).ready(function() {
        //When clicking button we set values in the parent page
        $("button").click(function() {
            if (person_array.length > 0) {
                //Call parent window to update persons
                window.opener.update_persons(person_array);
            }
            window.close();
        });
    });
</script>

<h2><?= $this->translate('Activity Persons') ?></h2>
<hr />

<div class="standard" style="text-align: left">
    <div style="vertical-align:middle; text-align:left;" class="standard cell">
        <button type ="button" class="button-primary">
            <?= $this->translate('Back') ?>
        </button>
    </div>
    <div style="margin: 10px" style="vertical-align:middle; text-align:left;" class="standard cell">
        <div id="picked_person">
        </div>
    </div>
</div>

<br />

<h3><?= $this->translate('Pick a person') ?></h3>
<br />
<div class="sample">
    <?php
    foreach ($persons as $person) :
        $path = $person->getSrc();
        $name = $person->getFirstName() . ' ' . $person->getLastName();
        $id = $person->getPersonId();
        ?>
        <div class="sample cell" id="sample_<?= $id ?>">
            <?= $name ?><br />
            <a onclick="pick_person('<?= $id ?>', '<?= $name ?>', '<?= $path ?>')">
                <img src="<?= $path ?>" alt="<?= $name ?>" class="preview medium">
            </a>
        </div>
    <?php endforeach; ?>
</div>


