<script>

    var changed_src = "";
    var changed_id = "";
    var media_array = window.opener.media_array;
    //Displays the representative media user clicked on. Also sets the global js variables above.
    function pick_representative(path, id) {
        $("#picked_representative").html("<img src='" + path + "' class='preview small' id='place_preview'>");
        //Show all images
        $("img").show();
        //hide the picked place
        $("#" + id).hide();
        changed_src = path;
        changed_id = id;
    }

    $(document).ready(function() {
        //When clicking button we set values in the parent page
        $("button").click(function() {
            if (changed_src) {
                window.opener.update_representative(changed_src);
            }
            window.close();
        });
    });</script>


<h2><?= $this->translate('Activity Representative') ?></h2>
<hr />

<div class="standard" style="text-align: left">
    <div style="vertical-align:middle; text-align:left;" class="standard cell">
        <button type ="button" class="button-primary">
            <?= $this->translate('Back') ?>
        </button>
    </div>
    <div style="margin: 10px" style="vertical-align:middle; text-align:left;" class="standard cell">
        <div id="picked_representative">
        </div>
    </div>
</div>

<br />

<h3><?= $this->translate('Pick a representative') ?></h3>
<br />
<div class="sample" id="all_media">
    <script>

        for (var i = 0, len = media_array.length; i < len; i++) {
            var path = media_array[i] + '';
            if (path.indexOf("/") === -1) {
                //Not a real path, just skip this
                continue;
            }
            $('#all_media').append('<div class="sample cell">' +
                    //'<a onclick="pick_representative(' + path + ', ' + i + ')>' +
                    '<img src="' + path + '" alt="media" ' +
                    'class="preview medium" id="' + i + '" ' +
                    'onclick="pick_representative(\'' + path + '\', \'' + i + '\')">' +
                    //'</a>' +
                    '</div>');
        }
    </script>

</div>
