<?php
$id = $this->id;
?>
<script  type="text/javascript" src="/js/slideshow.js"></script>
<script>
    var id = <?= $id ?>;
    var media_array = window.opener.media_array;
    var date_and_subject = window.opener.get_date_and_subject();

    var SLIDES = new slideshow("SLIDES");

    $(document).ready(function() {
        SLIDES.timeout = 1500;  // 3 seconds delay
        SLIDES.prefetch = -1;
        SLIDES.repeat = true;
        for (var i = 0; i < media_array.length; i++) {
            var path = media_array[i] + '';
            if (path.indexOf("/") === -1) {
                //Not a real path, just skip this
                continue;
            }
            s = new slide();
            s.src = path;
            s.text = unescape("");
            s.link = "";
            s.target = "";
            s.attr = "";
            s.filter = "";
            SLIDES.add_slide(s);
        }
        if (document.images) {
            // Tell the slideshow which image object to use
            SLIDES.image = document.images.SLIDESIMG;
            // Tell the slideshow the ID of the element
            // that will contain the text for the slide
            SLIDES.textid = "ss_text";
            // Update the image and the text for the slideshow
            SLIDES.update();
        }
        //SLIDES.image = document.images.SLIDESIMG;
        //SLIDES.update();
    });

    //Update page when window is rendered
    $(window).load(function() {

        $('#SLIDESIMG').attr('src', media_array[id]);
        $('#SLIDESIMG').attr('style', 'max-width: ' + screen.availWidth * 0.95 + 'px; max-height:' + screen.availHeight * 0.50 + 'px;');
        //SLIDES.update();
    })

</script>


<h3><script>document.write(date_and_subject);</script></h3>
<hr />

<div class="standard">
    <div class="standard newrow">
        <div class="standard cell">

            <div style="vertical-align:middle; text-align:left;float:left;">
                <button type ="button" class="button-primary" onclick="window.close();">
                    <?= $this->translate('Back') ?>
                </button>
            </div>
            <div style="vertical-align:middle; text-align:left;float:left;">
                <!--
                <button type ="button" class="button-primary" onclick="SLIDES.next();
                    SLIDES.play()">
                            Start
                </button>
                -->
                <button type ="button" class="button-primary" onclick="SLIDES.pause();
        $('input[name=options]').attr('checked', false);" style="float:left">
                        <?= $this->translate('Stop') ?>
                </button>
                <div class="radio-questionnaire" style="float: left">
                    <input type="radio" id="option1" name="options" value="1" onclick="SLIDES.next();
        SLIDES.play();
        SLIDES.timeout = 4500"/>
                    <label for="option1">1</label>

                    <input type="radio" id="option2" name="options" value="2" onclick="SLIDES.next();
        SLIDES.play();
        SLIDES.timeout = 3000"/>
                    <label for="option2">2</label>

                    <input type="radio" id="option3" name="options" value="3" onclick="SLIDES.next();
        SLIDES.play();
        SLIDES.timeout = 1500"/>
                    <label for="option3">3</label>

                    <input type="radio" id="option4" name="options" value="4" onclick="SLIDES.next();
        SLIDES.play();
        SLIDES.timeout = 500"/>
                    <label for="option4">4</label>

                </div>
            </div>
            <div style="vertical-align:middle; text-align:left; float: right;">
                <button type ="button" class="button-primary" onclick="SLIDES.previous()">
                    <?= $this->translate('Previous') ?>
                </button>
                <button type ="button" class="button-primary" onclick="SLIDES.next()">
                    <?= $this->translate('Next') ?>
                </button>
            </div>
        </div>
    </div>
    <div class="standard newrow">
        <div class="standard cell">
            <div class="sample" id="media_slide">
                <IMG name="SLIDESIMG" src="" alt="slideshow image" id="SLIDESIMG" style="">
            </div>
        </div>
    </div>
</div>

<p>
    <?= $this->translate('Goto slide') ?>:
    <script>
    for (var i = 0; i < media_array.length; i++) {
        document.write("<a href = 'javascript:SLIDES.goto_slide(" + i + ")' > " + i + " </a>\n");
    }
    </script>
<p>

