<h1><?= $this->translate("Activities loaded") ?></h1>

<div style="display:table; width:100%;">
    <div style="display:table-cell; vertical-align:top;">

    </div>
    <div style="display:table-cell; vertical-align:top;">

    </div>
    <div style="display:table-cell; vertical-align:top;">

    </div>
</div>