<h1><?= $this->translate("DATA Perser Page") ?></h1>
<?php

//require_once("OAuth.php");
//require 'oauth_cfg.phtml';
//
//$plaintext_method = new OAuthSignatureMethod_PLAINTEXT();
//$test_consumer = new OAuthConsumer($config['consumerKey'], $config['consumerSecret'], NULL);
//$acc_token = new OAuthConsumer($oauth_token, $tokenSecret, 1);
//$url="https://healthlabs.ehv.campus.philips.com/resources/".$_REQUEST['resource'];
//$method=$_REQUEST["method"];
//$sig_method = $plaintext_method;
//
//$echo_req = OAuthRequest::from_consumer_and_token($test_consumer, $acc_token,$method , $url);
//$echo_req->sign_request($sig_method, $test_consumer, $acc_token);
//$data_by_activity=array('activity'=>1,'activity_count'=>2,'geo_coordinate'=>3,'heart_rate'=>4,'location_type'=>5,'location'=>6,'profile'=>7); 
//$recorded_at= date('Y-m-d H:i:s');
//$json_array=array(	
//					1=>'{	"name": "Running", "ended_at": "'.$recorded_at.'",  "started_at": "2013-08-13 11:20:34"	}',
//					2=>'{	"interval": 30, "measured_on": "chest", "started_at": "'.$recorded_at.'", "values": [70,71,72,72,75,75,76,74,75]	}',
//					3=>'{	"latitude": 51.40125, "longitude": 5.38573, "elevation": 12.5, "recorded_at": "'.$recorded_at.'"	}',
//					4=>'{ 	"started_at": "'.$recorded_at.'",  "interval": 30, "values": [ 70, 71, 72, 72, 75, 75, 76, 74, 75] }',
//					5=>'{ 	"name": "LTU",  "bounds": [ { "latitude": 55.625, "longitude": 5.211 }, { "latitude": 55.876, "longitude": 5.202 } ]}',
//					6=>'{	"location_type_id": 34, "ended_at": "'.$recorded_at.'", "started_at": "2013-09-12 11:20:34" }',
//					7=>'{	"first_name": "John", "last_name": "Doe", "gender": "male", "date_of_birth": "1983-07-25" }'
//	);
//
//
//
//
//if( isset($_REQUEST["resource"]) && isset($_REQUEST["method"]) )
//{
//		error_reporting(-1);
//		ini_set('display_errors', true);
//
//		$handle = curl_init();
//		//$url = 'http://127.0.0.1:50006';
//		//url to post or get
//		//$url = 'https://healthlabs.ehv.campus.philips.com/resources/geo_coordinate';
//		//data to be send
//		$data=$json_array[ 		$data_by_activity[	$_REQUEST['resource']	] 	];
//		$header= array(   "Accept: application/json",
//		                  "Content-type: application/json",
//		                  $echo_req->to_header("")
//		               );
//
//		$curl_option=array(
//		                                    CURLOPT_URL             => $url, 
//		                                    CURLOPT_RETURNTRANSFER  => true,
//		                                    CURLOPT_VERBOSE         => true,
//		                                    CURLOPT_POSTFIELDS      => $data,
//		                                    CURLOPT_HTTPHEADER      => $header,
//		                                    CURLOPT_SSL_VERIFYPEER  => false
//		                                      
//		                );
//		if($_REQUEST["method"]=="GET")
//		{
//			$curl_option=array(
//		                                    CURLOPT_URL             => $url, 
//		                                    CURLOPT_RETURNTRANSFER  => true,
//		                                    CURLOPT_VERBOSE         => true,
//		                                    CURLOPT_HTTPHEADER      => $header,
//		                                    CURLOPT_SSL_VERIFYPEER  => false
//		                                      
//		                );
//		}
//		
//		curl_setopt_array( $handle, $curl_option  );
//		//perform POST/GET operation and GET the response
//		$response = curl_exec($handle); 
//		//close the curl adapter
//		curl_close($handle);
//		// Send the data back
//		print_r($response); 
//                echo "Hidsa";
//                //print_r($method);
//		//print_r($data);
//}


?>
<!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript">
    var OAuth_src='';
    function sign(form) 
    {

        
        $.post( "send", {method: form.elements[0].value,  resource: form.elements[1].value})
                                      .done(function( data ) { 
                                                                alert( "Server Response :\n " + data ); 
                                                             }
                                            );
        return false;
    }
    </script>

  

    <form name="request">
      <table >
       
        <tr>
            <th align="right">HTTP method:  </th>
            <td>
                <select name = "method">
                          <option value="GET" >GET</option>
                          <option value="POST" >POST</option>
                </select>
            </td>
        </tr>

        <tr>
            <th align="right">Type:</th>
            <td> 
                <select name = "resource">
                          <option value="activity">Activity</option>
                          <option value="activity_count">ActivityCount</option>
                          <option value="geo_coordinate">GeoCoordinate</option>
                          <option value="heart_rate">HeartRate</option>
                          <option value="location_type">LocationType</option>
                          <option value="location">Location</option>
                          <option value="profile">Profile</option>
                </select>
            </td>
        </tr>
       </table>
             <input type="button" value="SEND" onClick="sign(document.request)"/>
    </form>

<a href="update"></a>    -->
    
<?php
////$file_path=='public/data/logsync/' ;
////$file_name='GPS_places.xml';
////$url=$file_path.$file_name;
//$url='public/data/logsync/GPS.xml';
//$reader = new Zend\Config\Reader\Xml();
//$xml   = $reader->fromFile($url);
//
////$xml = simplexml_load_file($url);
////print_r($xml);
//$json_data = Zend\Json\Json::encode($xml, true);
//$json_data= substr($json_data, 10);
//$json_data= substr($json_data, 0,-2);
////echo $json_data;
//$json_array=  preg_split('/{*},/', $json_data);
////print_r($json_array);
//for($i=0;$i<count($json_array);$i++)
//{
//    if($i<count($json_array)-1)
//        echo $json_array[$i]."}";
//    else
//        echo $json_array[$i];
//}
////print_r($json_data);
////echo $file_path;
////$jsonContents = Zend\Json\Json::fromXml($xml, true);
////echo $jsonContents;
?>
