
<h1><?= $this->translate("Call Back Page") ?></h1>

<?php
//get the oauth configuration
require 'oauth_cfg.phtml';
// creat oauth object
$consumer = new ZendOAuth\Consumer($config);
if (isset($_GET['oauth_token']) && isset($_SESSION['request_token'])) 
{
    try
    {   
        $conext_userid    = $_GET['id'];
        $access = $consumer->getAccessToken($_GET, unserialize($_SESSION['request_token']));
    }
    catch(Exception $e)
    {
        echo 'Error: '.$e->getMessage();
        exit (1);
    }
    
    // persist the token to storage
    $_SESSION['access_token'] = serialize($access);
    // persist the user Id to storage
    $_SESSION['user_id'] = $conext_userid;
    // Now that we have an Access Token, we can discard the Request Token
    $_SESSION['request_token'] = null;
    
    $token = unserialize($_SESSION['access_token']);
    
    $token_raw_string=$token.  get_class();
    $temp=preg_split('/&/', $token_raw_string);
    $oauth_token_array=preg_split('/=/', $temp[0]);
    $oauth_token=$oauth_token_array[1];
    $oauth_token_secret_array_raw=preg_split('/Zend\\\\/', $temp[1]);
    $oauth_token_secret_array=preg_split('/=/', $oauth_token_secret_array_raw[0]);
    $oauth_token_secret=$oauth_token_secret_array[1];
    set_oauth_token_tokenSecret($oauth_token,$oauth_token_secret);
    
    //Link to posting page
    //echo "<a href=http://mlreview.dev/uploadxmldata/update>Upload Data</a>";
 


}
elseif(!empty($_GET['denied']))
{
    echo 'you have denied us access to your PHILIPS crendentials';
}
else 
{
    echo 'Invalid callback request. Oops. Sorry.';
}

?>

