<!--<h1><?= $this->translate("Upload New Data") ?></h1>-->
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/uploadstyle.css">
</head>   
<?php
//get the oauth configuration
require 'oauth_cfg.phtml';
// creat oauth object
$consumer = new ZendOAuth\Consumer($config);
if (isset($_REQUEST['new_config']))
{
   try
   {
        // get request token
        $request_token = $consumer->getRequestToken();
        // persist the token to storage
        $_SESSION['request_token'] = serialize($request_token);
        // redirect the user
        $consumer->redirect();
   }
   catch(Exception $e)
   {
        echo 'Error: '.$e->getMessage();
        exit (1);
   }
}


?>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <script type="text/javascript">
    
        var auto_refresh = setInterval(
								function ()
								{
									$( "#div_filelist" ).load( "uploadxmldata/post" ).fadeIn("slow");
								}, 5000 // refresh every 1000 milliseconds = 1 second
								); 
        var auto_log_dir_refresh = setInterval(
								function ()
								{
									$( "#div_Logdir" ).load( "uploadxmldata/logdir" ).fadeIn("slow");
								}, 1000 // refresh every 1000 milliseconds = 1 second
								); 
        var auto_download_dir_refresh = setInterval(
								function ()
								{
									$( "#div_Downdir" ).load( "uploadxmldata/download" ).fadeIn("slow");
								}, 1000 // refresh every 1000 milliseconds = 1 second
								);  

    </script>
    <script type="text/javascript">
    var OAuth_src='';
    function sign(form) 
    {
        
	$( ".loader" ).show();	

        
        $.post( "uploadxmldata/send", {method: "GET",  resource: form.elements[1].value})
                                      .done(function( data ) { 
                                                                $(".loader").hide();
                                                                alert( "Server Response :\n" + data ); 
                                                                
                                                             }
                                            );
        return false;
    }
    
    function refresh_file_list()
    {
	$( "#div_filelist" ).load( "uploadxmldata/post" );
        false;

    }
    function select_file_for_upload()
    {
	if($("input[type='radio'].radioBtnClass").is(':checked')) 
	{
            var file_name = $("input[type='radio'].radioBtnClass:checked").val();
            if(file_name.indexOf(".txt") == -1)
            {
                alert( "This is not a valid file to Upload!!!");
            }
            else
            {
              var withext = file_name.split("#");
              var r_name=withext[1].split(".txt");
              $.post( "uploadxmldata/send", {method: "POST",  file_name: file_name,resource:r_name[0]})
                                      .done(function( response_data ) { 
                                                                alert( "Server Response :\n" + response_data );
                                                                refresh_file_list();
                                                             }
                                            );  
            }
            
	}
    }
    function upload(file_name)
    {
        $.post( "uploadxmldata/post", {flag: 1,  file_name: file_name})
                                      .done(function( response_data ) { 
                                                                alert( "Server Response :\n" + response_data ); 
                                                             }
                                            );
        return false;       
    }
    
    function gps_json_to_xml()
    {
        $.post( "uploadxmldata/dataparser", {convert: 1})
                                      .done(function( response_data_ ) { 
                                                                //alert( "" + response_data_ ); 
                                                             }
                                            );
        return false;       
    }
   
   function delete_postfile()
   {
       if($("input[type='radio'].radioBtnClass").is(':checked')) 
	{
            var file_delete = $("input[type='radio'].radioBtnClass:checked").val();
            $.post("uploadxmldata/send", {delete: file_delete});
            
        }
   }
    function rename_postfile()
   {
       if($("input[type='radio'].radioBtnClass").is(':checked')) 
	{
            var file_rename = $("input[type='radio'].radioBtnClass:checked").val();
            var replace_value=prompt("Please enter a new name","");
            if (replace_value!=null)
             {
                $.post("uploadxmldata/send", {rename: file_rename, replace:replace_value});
             }
            
            
        }
   }
    </script>

  
<div >
        
       <a href="?new_config=1">Change OAuth Configuration </a>
       </br>
</div>
<table cellpadding="0" cellspacing="0" class="tableForm">
        <tr>
            <h3> Get Uploaded Data: </h3>
            <form name="request">
                <table>
       
<!--        <tr>
            <th align="right">HTTP method:  </th>
            <td>
                <select name = "method">
                          <option value="GET" >GET</option>
                          <option value="POST" >POST</option>
                </select>
            </td>
        </tr>-->
                <select name = "method" style="visibility:hidden" value="GET" ></select>
                <tr>
                    <td >
                        Type:
                    </td>
                    <td> 
                       
                        <select  class="styled-select" name = "resource">
                              <option value="acceleration">Acceleration</option>
                              <option value="activity">Activity</option>
                              <option value="activity_count">ActivityCount</option>
                              <option value="ambient_light_level">AmbientLightLevel</option>
                              <option value="ambient_temperature">AmbientTemperature</option>
                              <option value="body_position">BodyPosition</option>
                              <option value="geo_coordinate">GeoCoordinate</option>
                              <option value="heart_rate">HeartRate</option>
                              <option value="location_type">LocationType</option>
                              <option value="location">Location</option>
                              <option value="profile">Profile</option>
                              <option value="stress_level">StressLevel</option>

                        </select>

                    </td>
                    <td >
                        <img src="images/download.png" onmouseover="this.src='images/download1.png'" onmouseout="this.src='images/download.png'" onClick="sign(document.request)"/>
                    </td>
                </tr>  
                </table>
             
    </form>
        </tr>
</table>
    
    

<!--<div style="display:table; width:100%;">
    <div style="display:table-cell; vertical-align:top;">
        
       
    </div>
    <div style="display:table-cell; vertical-align:top;"></div>
    <div style="display:table-cell; vertical-align:top;"></div>
</div>-->
<div class="loader" style="display:none;">
    <span></span>
    <span></span>
    <span></span>
</div>


<h3> Post Directory Content: </h3> 


<table cellpadding="0" cellspacing="0" class="tableForm">
<!--        <tr>
            <h4> Press refresh to get file list </h4>
            <button class="button" id="buttonUpload" onclick="refresh_file_list();">REFRESH</button>
        </tr>-->
</table>
</br>   
<div id="div_filelist"></div>
</br>   

<div id="div_Logdir">
</div>
<div  id="div_Downdir">
</div>

</html>