<?php require_once 'oauth_cfg.php';?>
<h1><?= $this->translate("Data Uploading....") ?></h1>
<?php //echo $this->layout()->scriptTags;
require 'oauth_cfg.phtml';
?>

<?php #waiting for arjan response
//get the oauth configuration
//require 'oauth_cfg.phtml';
//echo "OAuth Consumer Key : ".$config['consumerKey']."</br>";
//echo "OAuth Consumer Secret : ".$config['consumerSecret']."</br>";
//$posturl = "http://127.0.0.1:50006";
//$posturl = "https://healthlabs.ehv.campus.philips.com/resources/geo_coordinate";
//$recorded_at= date('Y-m-d H:i:s');
//$data = array(
//               'latitude'=> 7.1,
//               'longitude'=> 14.2,
//               'elevation'=> 0,
//               'recorded_at'=> "{$recorded_at}"
//           );
//
//$json_data = Zend\Json\Json::encode($data, true);
//
$token = unserialize($_SESSION['access_token']);
////print_r($token);
$token_raw_string=$token.  get_class();
////print_r($token_raw_string);
$temp=preg_split('/&/', $token_raw_string);
////print_r($temp[1]);
$oauth_token_array=preg_split('/=/', $temp[0]);
$oauth_token=$oauth_token_array[1];
echo "OAuth Access Token : ".$oauth_token."</br>";
$oauth_token_secret_array_raw=preg_split('/Zend\\\\/', $temp[1]);
$oauth_token_secret_array=preg_split('/=/', $oauth_token_secret_array_raw[0]);
$oauth_token_secret=$oauth_token_secret_array[1];
echo "OAuth Access Token Secret: ".$oauth_token_secret."</br>";
set_oauth_token_tokenSecret($oauth_token,$oauth_token_secret);
//echo $oauth_token_secret;
//
//#<-------
//
////$token_t = new ZendOAuth\Token\Access();
////$token_t->setToken($oauth_token);
////$token_t->setTokenSecret($oauth_token_secret);
////$oauth_config=    array('requestScheme' => 'querystring', 
////                        'version' => '1.0', 
////                        'signatureMethod' => 'HMAC-SHA1', 
////                        'callbackUrl' => $config['callbackUrl'], 
////                        'requestTokenUrl' => 'https://healthlabs.ehv.campus.philips.com/oauth/request_token', 
////                        'accessTokenUrl' => 'https://healthlabs.ehv.campus.philips.com/oauth/access_token', 
////                        'userAuthorizationUrl' => 'https://healthlabs.ehv.campus.philips.com/oauth/authorize', 
////                        'consumerKey' => $config['consumerKey'],
////                        'ConsumerSecret' => $config['consumerSecret'],
////                        'Accept' =>'application/json',
////                        'Content-type' =>'application/json',
////                        );
////$client_t = $token_t->getHttpClient($oauth_config);
////$client_t->setUri($posturl);
//////
////////$client->setEncType('text/json',null);
////$client_t->setRawBody($json_data);
////$client_t->setMethod('POST');
////$response = $client_t->send();
////print_r($response->getBody());
////
////$OAuthConsumer = new ZendOAuth\Consumer($oauth_config);
////$OAuthConsumer->setToken($oauth_token);
////$OAuthConsumer->setTokenSecret($oauth_token_secret);
//////print_r($client_t);
//////$client_t->setEncType('text/json',null);
////$OAuthConsumer->setUri($posturl);
////
//////$client->setEncType('text/json',null);
////$OAuthConsumer->setRawBody($json_data);
////$OAuthConsumer->setMethod('POST');
////
////$response = $OAuthConsumer->send();
////print_r($response->getBody());
//
//
//
//#-------->
////$oauth_config=    array('requestScheme' => 'querystring', 
////                        'version' => '1.0', 
////                        'signatureMethod' => 'HMAC-SHA1', 
////                        'callbackUrl' => $config['callbackUrl'], 
////                        'requestTokenUrl' => 'https://healthlabs.ehv.campus.philips.com/oauth/request_token', 
////                        'accessTokenUrl' => 'https://healthlabs.ehv.campus.philips.com/oauth/access_token', 
////                        'userAuthorizationUrl' => 'https://healthlabs.ehv.campus.philips.com/oauth/authorize', 
////                        'consumerKey' => $config['consumerKey'],
////                        'ConsumerSecret' => $config['consumerSecret'],
////                        );
//$client = $token->getHttpClient($config);
//$adapter='Zend\Http\Client\Adapter\Curl';
//$adapter = new Zend\Http\Client\Adapter\Curl();
//$adapter->setOptions(array(
//    'curloptions' => array(
//        CURLOPT_SSL_VERIFYPEER => false,
//        CURLOPT_BINARYTRANSFER, true
//                
//    )
//));
//
////$client->setAdapter($adapter);
//$client->setUri($posturl);
//$client->setMethod('POST');
////$client->setRawBody($json_data);
//
////$client->setParameterPost(array('obj'=>$json_data));
////$client->setEncType('text/json');
//
//$response = $client->send();
//echo "</br></hr>"."<b>Response from server:</b> "."\n";
// print "<pre>";
// print_r($response->getBody());
// print "</pre>";
//var_dump($response);
?>


<?php
//$client->setUri('https://healthlabs.ehv.campus.philips.com/resources/geo_coordinate');
////print_r($client);
////$tmp= array( 'geo_coordinate'=> $json_data);
//$client->setMethod('POST');
////$client->setParameterPost($tmp);
//
////
////$client->setParameterPost($tmp,'application/json');
////print_r($client);
////$response = $client->request('POST');
////
////$data_back = Zend\Json\Json::decode($response->getBody());
////$result = $response->getBody();
////if (isset($data_back->text)) {
////    $result = 'true';
////}
////print_r($response);
////print_r($data_back);
////echo $json_data;
////
////
////$client->setMethod(Zend\Http\Request::METHOD_POST);
////$client->setParameterPost('status', $json_data );
////$client->setParameterPost($tmp);
//
//
//$client->setRawBody($json_data);
//$client->setEncType('text/json');
//$response = $client->send();
////print_r($response);
////$data_back = Zend\Json\Json::decode($response->getBody());
////print_r($response);
//print_r($response->getBody());
//
?>

<?php # array content
////get the oauth configuration
//use Zend\Http\Request;
//use Zend\Http\Client;
////get the oauth configuration
//require 'oauth_cfg.phtml';
//$posturl = "http://127.0.0.1:50006";
//$posturl = "https://healthlabs.ehv.campus.philips.com/resources/geo_coordinate";
//$recorded_at= date('Y-m-d H:i:s');
//$data = array(
//               'latitude'=> 7.1,
//               'longitude'=> 14.2,
//               'elevation'=> 0,
//               'recorded_at'=> "{$recorded_at}"
//           );
//
//$json_data = Zend\Json\Json::encode($data, true);
//
//$token = unserialize($_SESSION['access_token']);
//$client = $token->getHttpClient($config);
//$client->setUri($posturl);
//
//$tmp= array( 'geo_coordinate'=> $json_data);
//$client->setMethod('POST');
//$client->setParameterPost($tmp,'text/json');
//
//$response = $client->send();
//
//print_r($response->getBody());



?>


<?php #data as json format {}
//use Zend\Http\Request;
//
// $config = array(
//    'callbackUrl' => 'http://mlreview.dev/uploadxmldata/callback',
//    'siteUrl' => 'https://healthlabs.ehv.campus.philips.com/oauth',
//    'consumerKey' => 'b0827beb5686c89869cebe5ac16e4366',
//    'consumerSecret' => '5d5aff748e72d6d1e917fc922b04473a'
//);
//
//$recorded_at= date('Y-m-d H:i:s');
//$data = array(
//                'latitude'=> 99.1,
//                'longitude'=> 199.2,
//                'elevation'=> 20.3,
//                'recorded_at'=> "{$recorded_at}"
//            );
//
//$json_data = Zend\Json\Json::encode($data, true);
//
//$access_token = unserialize($_SESSION['access_token']);
//
//$client = $access_token->getHttpClient($config);
////
////$client->setUri('https://healthlabs.ehv.campus.philips.com/resources/geo_coordinate');
//$client->setUri('http://130.240.5.106:50000/');
//$client->setMethod('POST');
//$client->setRawBody($json_data);
//$client->setEncType('text/json');
//$response = $client->send();
//print_r($response->getBody());

?>


<?php #From xml file &format : {}{}
//use Zend\Http\Client;
//use Zend\Http\Request;
//$config = array(
//    'callbackUrl' => 'http://mlreview.dev/uploadxmldata/callback',
//    'siteUrl' => 'https://healthlabs.ehv.campus.philips.com/oauth',
//    'consumerKey' => 'b0827beb5686c89869cebe5ac16e4366',
//    'consumerSecret' => '5d5aff748e72d6d1e917fc922b04473a'
//);
//$access_token = unserialize($_SESSION['access_token']);
//
//
//
//$url='public/data/logsync/GPS.xml';
//$reader = new Zend\Config\Reader\Xml();
//$xml   = $reader->fromFile($url);
//$json_data = Zend\Json\Json::encode($xml, true);
//$json_data= substr($json_data, 10);
//$json_data= substr($json_data, 0,-2);
//$json_array=  preg_split('/{*},/', $json_data);
//
//$client = $access_token->getHttpClient($config);
//$client->setUri('http://130.240.5.106:50000/');
////$client->setUri('https://healthlabs.ehv.campus.philips.com/resources/geo_coordinate');
//$client->setMethod('POST');
//$json_str="";
//for($i=0;$i<count($json_array);$i++)
//{
//    
//    
//    if($i<count($json_array)-1)
//        //$client->setRawBody($json_array[$i]."}");
//        $json_str=$json_str.$json_array[$i]."}";
//    else
//        //$client->setRawBody($json_array[$i]);
//        $json_str=$json_str.$json_array[$i];
//    
//    
//    
//}
//$client->setRawBody($json_str);
//$client->setEncType('text/json');
//$response = $client->send();
//print_r($response->getBody());

?>


<?php
/*$access_token = unserialize($_SESSION['access_token']);
$access_token_array=preg_split('/&/', $access_token);
$_t=preg_split('/=/', $access_token_array[0]);
$_tc=preg_split('/=/', $access_token_array[1]);


#<<----Data
$recorded_at= date('Y-m-d H:i:s');
$data = array(
                'latitude'=> 99.1,
                'longitude'=> 199.2,
                'elevation'=> 20.3,
                'recorded_at'=> "{$recorded_at}"
            );

$json_data = Zend\Json\Json::encode($data, true);
#Data---->>





$consumer_key="b0827beb5686c89869cebe5ac16e4366";
$oauth_token=$_t[1];
$consumer_secret="5d5aff748e72d6d1e917fc922b04473a";
$oauth_signature=$_tc[1];


//$time = time() - 86400;
$posturl = "http://130.240.5.106:50000";
//$posturl = "https://healthlabs.ehv.campus.philips.com/geo_coordinate";
$config = array(
              'requestScheme' => Zend_OAuth::REQUEST_SCHEME_QUERYSTRING,
              'realm' => 'http://mlreview.dev',
              'oauth_consumer_key' => $consumer_key,
              'oauth_token' => $oauth_token,
              'oauth_nonce' => $consumer_secret,
              'oauth_signature_method' => 'HMAC-SHA1',
              'oauth_signature'=>$oauth_signature,
              //'oauth_timestamp' => $timestamp,
              'oauth_version' => '1.0');

$client = $access_token->getHttpClient($config); 
$client->setUri($posturl); 
$client->setMethod('POST'); 
//$client->setEncType(Zend\Http\Client::ENC_FORMDATA); 
$client->setHeaders('Content-Type: application/json'); 

$client->setRawData($json_data); 
//$client->setParameterPost("content", $statusMessage); 
$response = $client->request(); 
*/

?>

<?php
//use Zend\Http\Client;
//
//
//
//
//function Post_Data($url,$data,$header)
//{
//    $ch = curl_init();  
//    curl_setopt($ch, CURLOPT_URL, $url); 
//    curl_setopt($ch, CURLOPT_POST, 1);  
//    curl_setopt($ch, CURLOPT_POSTFIELDS,$data);
//    curl_setopt($ch, CURLOPT_HTTPHEADER, $header);
//    curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1); 
//    $result = curl_exec($ch);  
//    curl_close($ch);
//    return $result;
//}
//
//function buildAuthorizationHeader($oauth){
//    $r = 'Authorization : OAuth '; //header prefix
//
//    $values = array(); //temporary key=value array
//    foreach($oauth as $key=>$value)
//        {
//             $values[] = "$key=\"" . rawurlencode($value) . "\""; //encode key=value string
//
//        $r .= implode(', ', $values); //reassemble
//        }
//       
//    //print_r($r);
//    return $r; //return full authorization header
//}
////
////// $config = array(
//////    'callbackUrl' => 'http://mlreview.dev/uploadxmldata/callback',
//////    'siteUrl' => 'https://healthlabs.ehv.campus.philips.com/oauth',
//////    'consumerKey' => 'b0827beb5686c89869cebe5ac16e4366',
//////    'consumerSecret' => '5d5aff748e72d6d1e917fc922b04473a'
//////);
//$access_token = unserialize($_SESSION['access_token']);
//print_r($access_token);
//
//#<<----Data
//$recorded_at= date('Y-m-d H:i:s');
//$data = array(
//                'latitude'=> 99.1,
//                'longitude'=> 199.2,
//                'elevation'=> 20.3,
//                'recorded_at'=> "{$recorded_at}"
//            );
//
//$json_data = Zend\Json\Json::encode($data, true);
//#Data---->>
//
//$callback="http://mlreview.dev/uploadxmldata/callback";
//$consumer_key="b0827beb5686c89869cebe5ac16e4366";
//$consumer_secret="5d5aff748e72d6d1e917fc922b04473a";
//
//$access_token_array=preg_split('/&/', $access_token);
//$_t=preg_split('/=/', $access_token_array[0]);
//$_tc=preg_split('/=/', $access_token_array[1]);
//$oauth_token=$_t[1];
//$oauth_signature=$_tc[1];
////$time = time() - 86400;
////$posturl = "http://130.240.5.106:50000";
//$posturl = "https://healthlabs.ehv.campus.philips.com/geo_coordinate";
//$oauth = array('realm' => 'http://mlreview.dev',
//              'oauth_consumer_key' => $consumer_key,
//              'oauth_token' => $oauth_token,
//              'oauth_nonce' => $consumer_secret,
//              'oauth_signature_method' => 'HMAC-SHA1',
//              'oauth_signature'=>$oauth_signature,
//              //'oauth_timestamp' => $timestamp,
//              'oauth_version' => '1.0');
////$url .= "realm=".urlencode($callback)."";
////$url .= "&oauth_consumer_key=".$consumer_key."";
////$url .= "&oauth_token=".$oauth_token."";
////$url .= "&oauth_nonce=".$consumer_secret."";
////$url .= "&oauth_signature_method=HMAC-SHA1";
//////$url .= "&oauth_timestamp=".$time."";
////$url .= "&oauth_version=1.0";
////$url .= "&oauth_signature=".$oauth_signature."";
////$header = array("Authorization :OAuth $oauth");
////
//print_r(Post_Data($posturl, $json_data, $oauth));
//



//$client = new Zend\Http\Client($posturl);
//$adapter = new Zend\Http\Client\Adapter\Curl();
//$client -> setAdapter($adapter);
////$client->setMethod('POST');
////$client -> setHeaders($header);
//$adapter->setOptions(array(
//    'options' => array(
//        CURLOPT_RETURNTRANSFER, true,
//        CURLOPT_BINARYTRANSFER, true,
//        CURLOPT_SSL_VERIFYPEER, false,
//        CURLOPT_HTTPHEADER, $header,
//        CURLOPT_POST => true,
//        CURLOPT_POSTFIELDS, $json_data
//        
//    )
//));
//$client->send();
//try{
//    $client->send();
//}catch(Exception $e){
//    print("Error: ".var_export($e,true));
//}


//$feed = curl_init();
//curl_setopt($feed, CURLOPT_URL, $posturl);
//curl_setopt($feed, CURLOPT_RETURNTRANSFER, true);
//curl_setopt($feed, CURLOPT_BINARYTRANSFER, true);
//curl_setopt($feed, CURLOPT_SSL_VERIFYPEER, false);
//curl_setopt($feed, CURLOPT_HTTPHEADER, $header );
//curl_setopt($feed, CURLOPT_POST, true);
//curl_setopt($feed, CURLOPT_POSTFIELDS, $json_data);
//$json = curl_exec($feed);
//curl_close($feed);
//print_r($json);


?>








<?php
////use Zend\Http\Request;
//
//function buildAuthorizationHeader($oauth){
//    $r = 'Authorization: OAuth '; //header prefix
//
//    $values = array(); //temporary key=value array
//    foreach($oauth as $key=>$value)
//        {
//             $values[] = "$key=\"" . rawurlencode($value) . "\""; //encode key=value string
//
//        $r .= implode(', ', $values); //reassemble
//        }
//       
//    print_r($r);
//    return $r; //return full authorization header
//}//end buildAuthorizationHeader()
//
//
// $config = array(
//    'callbackUrl' => 'http://mlreview.dev/uploadxmldata/callback',
//    'siteUrl' => 'https://healthlabs.ehv.campus.philips.com/oauth',
//    'consumerKey' => 'b0827beb5686c89869cebe5ac16e4366',
//    'consumerSecret' => '5d5aff748e72d6d1e917fc922b04473a'
//);
////print_r($_SESSION['access_token']);
// //-------
////$access_token = unserialize($_SESSION['access_token']);
////print_r($access_token);
//////$obj=get_class($access_token);
//////print_r($access_token);
////$access_token_array=preg_split('/&/', $access_token);
//////print_r($access_toke_array);
//////print_r($access_token_array);
////$_t=preg_split('/=/', $access_token_array[0]);
////$_tc=preg_split('/=/', $access_token_array[1]);
////-----
////echo $_t[1];
////echo $_tc[1];
////var_dump($access_token);
////$client = $access_token->getHttpClient($config);
// // creat oauth object
////$consumer = new ZendOAuth\Consumer($config);
////print_r($access_token);
//$recorded_at= date('Y-m-d H:i:s');
//
//
//$data = array(
//                'latitude'=> 99.1,
//                'longitude'=> 199.2,
//                'elevation'=> 20.3,
//                'recorded_at'=> "{$recorded_at}"
//            );
//
//$json_data = Zend\Json\Json::encode($data, true);
//
////
////print_r($data);
////print_r($json_data);
//
//#Curl adapter
////
//////$url1 = "https://healthlabs.ehv.campus.philips.com/geo_coordinate";
////
////////print_r($header);
////////$client = $client->getHeader($config);
//////$options = array( 
//////                  CURLOPT_HEADER => true,
//////                  CURLOPT_URL => $url1,
//////                  CURLOPT_RETURNTRANSFER => true,
//////                  CURLOPT_SSL_VERIFYPEER => false,
//////                  CURLOPT_POST => true,
//////                  CURLOPT_POSTFIELDS, $json_data);
////
////$callback="http://mlreview.dev/uploadxmldata/callback";
////$consumer_key="b0827beb5686c89869cebe5ac16e4366";
////$consumer_secret="5d5aff748e72d6d1e917fc922b04473a";
////$oauth_token=$_t[1];
////$oauth_signature=$_tc[1];
////$time = time() - 86400;
//////$url = "https://healthlabs.ehv.campus.philips.com/geo_coordinate";
////$posturl = "https://healthlabs.ehv.campus.philips.com/geo_coordinate";
//////$url .= "user_id=<user id>";
////$url .= "realm=".urlencode($callback)."";
//////$url .= "&service_provider_id=11";
////$url .= "&oauth_consumer_key=".$consumer_key."";
////$url .= "&oauth_token=".$oauth_token."";
////$url .= "&oauth_nonce=".$consumer_secret."";
////$url .= "&oauth_signature_method=HMAC-SHA1";
////$url .= "&oauth_timestamp=".$time."";
////$url .= "&oauth_version=1.0";
////$url .= "&oauth_signature=".$oauth_signature."";
////$header = array("Authorization:  $url");
////echo "<hr>";
////echo $url;
////$feed = curl_init($url);
////curl_setopt($feed, CURLOPT_URL, $posturl);
////curl_setopt($feed, CURLOPT_RETURNTRANSFER, true);
////curl_setopt($feed, CURLOPT_BINARYTRANSFER, true);
////curl_setopt($feed, CURLOPT_SSL_VERIFYPEER, false);
////curl_setopt($feed, CURLOPT_HTTPHEADER, $header );
////curl_setopt($feed, CURLOPT_POST, true);
////curl_setopt($feed, CURLOPT_POSTFIELDS, $json_data);
//////$feed = curl_init($client);
//////curl_setopt_array($feed, $options);
////$json = curl_exec($feed);
////curl_close($feed);
////////
//////print_r($json);
////
////$response_data = json_decode($json);
////echo "<hr>";
////print_r($response_data);
//# ends here
//
//
//
//$access_token = unserialize($_SESSION['access_token']);
////
//$client = $access_token->getHttpClient($config);
////
////print_r($client);
//$client->setUri('https://healthlabs.ehv.campus.philips.com/resources/geo_coordinate');
////print_r($client);
////$tmp= array( 'geo_coordinate'=> $json_data);
//$client->setMethod('POST');
////$client->setParameterPost($tmp);
//
////
////$client->setParameterPost($tmp,'application/json');
////print_r($client);
////$response = $client->request('POST');
////
////$data_back = Zend\Json\Json::decode($response->getBody());
////$result = $response->getBody();
////if (isset($data_back->text)) {
////    $result = 'true';
////}
////print_r($response);
////print_r($data_back);
////echo $json_data;
////
////
////$client->setMethod(Zend\Http\Request::METHOD_POST);
////$client->setParameterPost('status', $json_data );
////$client->setParameterPost($tmp);
//
//
//$client->setRawBody($json_data);
//$client->setEncType('text/json');
//$response = $client->send();
////print_r($response);
////$data_back = Zend\Json\Json::decode($response->getBody());
////print_r($response);
//print_r($response->getBody());
//
//
////$url = "https://healthlabs.ehv.campus.philips.com/geo_coordinate";
////$content = $json_data;
////
////$curl = curl_init($url);
////curl_setopt($curl, CURLOPT_HEADER, false);
////curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);
////curl_setopt($curl, CURLOPT_HTTPHEADER,  array("Content-type: application/json"));
////curl_setopt($curl, CURLOPT_POST, true);
////curl_setopt($curl, CURLOPT_POSTFIELDS, $content);
////
////$json_response = curl_exec($curl);
////$status = curl_getinfo($curl, CURLINFO_HTTP_CODE);
////
////if ( $status != 201 )
////{
////    die("Error: call to URL $url failed with status $status, response $json_response, curl_error " . curl_error($curl) . ", curl_errno " . curl_errno($curl));
////}
////
////
////curl_close($curl);
////
////print_r($json_response);

?>
<?php
//use Zend\Http\Client;
//use Zend\Http\Request;
//$config = array(
//    'callbackUrl' => 'http://mlreview.dev/uploadxmldata/callback',
//    'siteUrl' => 'https://healthlabs.ehv.campus.philips.com/oauth',
//    'consumerKey' => 'b0827beb5686c89869cebe5ac16e4366',
//    'consumerSecret' => '5d5aff748e72d6d1e917fc922b04473a'
//);
//$access_token = unserialize($_SESSION['access_token']);
//
//
//
//$url='public/data/logsync/GPS.xml';
//$reader = new Zend\Config\Reader\Xml();
//$xml   = $reader->fromFile($url);
//$json_data = Zend\Json\Json::encode($xml, true);
//$json_data= substr($json_data, 10);
//$json_data= substr($json_data, 0,-2);
//$json_array=  preg_split('/{*},/', $json_data);
//
//
//for($i=0;$i<count($json_array);$i++)
//{
//    $client = $access_token->getHttpClient($config);
//    $client->setUri('https://healthlabs.ehv.campus.philips.com/resources/geo_coordinate');
//    $client->setMethod(Zend\Http\Request::METHOD_POST);
//    
//    if($i<count($json_array)-1)
//        $client->setRawBody($json_array[$i]."}");
//        
//    else
//        $client->setRawBody($json_array[$i]);
//    
//    $client->setEncType('text/json');
//    //print_r($client);
//    //echo "<hr>";
//    $response = $client->send();
//    //print_r($response->getBody());
//    
//}
//
//$client = $access_token->getHttpClient($config);
////$client->resetParameters();
//$client->setUri('https://healthlabs.ehv.campus.philips.com/resources/geo_coordinate');
//
////$client->setParameterGet($parameters);
//
////$client->setMethod(Zend_Http_Client::GET);
//
////$response = $client->request();
//
//$client->setMethod(Zend\Http\Request::METHOD_GET);
////$request = new Request();
////$client->setRequest($request);
//$response = $client->send();
//print_r($response);
//


?>