@charset "ISO-8859-1";
/* CSS Document */


body, html {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    line-height: normal;
}

.row, .col { overflow: hidden; position: absolute; margin-left: 8px;margin-right: 8px;}
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.header.row { height: 140px; top: 0; }
.body.row { top: 140px; bottom: 0px; text-align: center}
.footer.row { height: 0px; bottom: 0; }

.textblock {
    position: relative;
    display:block;
    margin: 20px;
    font:Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #01184c;
}

a:link {text-decoration:none;}    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:none;}   /* mouse over link */
a:active {text-decoration:none;}  /* selected link */


/* Fonts */
input,textarea,SELECT,label {
    font-size:20px;
}

div {
    font-size:20px;
}

hr {
    /*position: static;*/
    color: #000099;
    size: 7px;
    margin-left:auto;
    margin-right:auto;
    /*overflow: hidden;*/
}

/* Tables */
headertable {
    display: table;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
    text-align: center;
    padding: 5px 5px;
}

standardrow {
    display: table-row;

}

standardcell {
    display: table-cell;
}

.sample {
    border-width: 7px;
    border-style: outset;
    border-color: gray;
    display:table;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
    text-align:center;
    padding: 3px;
}

.sample.cell {
    float: left;
    display: table-cell;
    border-width: 1px;
    padding: 1px;
    position: relative;
    margin-left:auto;
    margin-right:auto;

}

.known {
    display:table;
    border-width: 5px;
    border-style: outset;
    border-color: gray;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
    text-align:center;
    padding: 3px;
}

.known.cell {
    display: table-cell;
    border-width: 1px;
    padding: 1px;
    position: relative;

}

.standard {
    display:table;
    margin-left:auto;
    margin-right:auto;
    vertical-align: middle;
    text-align: center;
    padding: 3px;
}

.standard.newrow {
    display: table-row;
    padding: 1px;
}

.standard.cell {
    display: table-cell;
    padding: 5px;
}

img.persons {
    width: 180px;
    height: 180px;
    vertical-align: middle;
    text-align: center;
    margin: 10px;
}

img.places {
    width: 180px;
    height: 180px;
    vertical-align: middle;
    text-align: center;
    margin: 10px;
}

img.flag {
    width: 72px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    margin: 8px 8px 8px 8px;
}

.preview {
    vertical-align: middle;
    text-align: center;
    margin: 3px;
}

.preview.medium {
    width: 175px;
    height: 125px;
    border: 7px solid transparent
}

.preview.medium.selectedMedia {
    border: 7px outset rgb(0, 0, 204);
}

.preview.small {
    width: 72px;
    height: 72px;
}

.preview.large {
    max-width: 390px;
    max-height: 200px;
}

.border3D {
    border-color: rgb(0, 0, 204);
    border-width: 5px;
    border-style: outset;
}

.bordersmall {
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

.bordermedium {
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

/*Uploading files*/

input.file {
    display: none;
}

/*Date picker size*/
.ui-datepicker-calendar tr, .ui-datepicker-calendar td, .ui-datepicker-calendar td a, .ui-datepicker-calendar th{font-size:1.2em !important;}
div.ui-datepicker{font-size:1.2em !important;width:inherit;height:inherit;}
.ui-datepicker-title span{font-size:1.2em !important;}
/*#ui-datepicker-div { font-size: 36px !important; }*/

#ui-datepicker-div {
    font-size: 1.2em !important;
    position: absolute !important;
    left: 1% !important;
    top: 1% !important;
    margin-left: 0px; /* approx half the height of the datepicker div - adjust based on your size */
    margin-top: 0px; /* half the height of the datepicker div - adjust based on your size */
}

/*Keyboard size*/
#keyboardInputMaster,
#keyboardInputMaster * {
    /*keyboardInputSize2*/
    font: 22px/1.3em Arial,sans-serif !important;
}

#keyboardInputMaster.keyboardInputSize1,
#keyboardInputMaster.keyboardInputSize1 * {
    font-size:20px !important;
}
#keyboardInputMaster.keyboardInputSize3,
#keyboardInputMaster.keyboardInputSize3 * {
    font-size:24px !important;
}
#keyboardInputMaster.keyboardInputSize4,
#keyboardInputMaster.keyboardInputSize4 * {
    font-size:26px !important;
}
#keyboardInputMaster.keyboardInputSize5,
#keyboardInputMaster.keyboardInputSize5 * {
    font-size:28px !important;
}

/*The cluster page*/
.clusterMessageDiv {
    position: absolute;
    vertical-align: middle;
    text-align: center;
    top:50%;
    width: 100%;
    font-size: 3.0em;
}

.reviewtext {
    font-weight: bolder;
}

.reviewtext.no{
    color: red;
}