@charset "UTF-8";
/* CSS Document */


.button-primary:active {
    background: rgb(17,28,58); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(17,28,58,1) 0%, rgba(30,51,109,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,28,58,1)), color-stop(100%,rgba(30,51,109,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(17,28,58,1) 0%,rgba(30,51,109,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(17,28,58,1) 0%,rgba(30,51,109,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(17,28,58,1) 0%,rgba(30,51,109,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(17,28,58,1) 0%,rgba(30,51,109,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111c3a', endColorstr='#1e336d',GradientType=0 ); /* IE6-9 */


    -moz-box-shadow:
        inset -3px -3px 15px rgba(000,000,000,0.5),
        inset 3px 3px 15px rgba(000,000,000,0.5);
    -webkit-box-shadow:
        inset -3px -3px 15px rgba(000,000,000,0.5),
        inset 3px 3px 15px rgba(000,000,000,0.5);
    box-shadow:
        inset -3px -3px 15px rgba(000,000,000,0.5),
        inset 3px 3px 15px rgba(000,000,000,0.5);


    /* Transition when pressing the button */
    /*
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
    */
}

.button-primary {
    display:inline-table;
    font:Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #ffffff;
    padding: 20px 20px;
    border: 0px solid #000000;
    position:relative;
    height:auto;

    background: rgb(67,115,211); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(67,115,211,1) 0%, rgba(11,21,85,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,115,211,1)), color-stop(100%,rgba(11,21,85,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(67,115,211,1) 0%,rgba(11,21,85,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(67,115,211,1) 0%,rgba(11,21,85,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(67,115,211,1) 0%,rgba(11,21,85,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(67,115,211,1) 0%,rgba(11,21,85,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4373d3', endColorstr='#0b1555',GradientType=0 ); /* IE6-9 */

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    -moz-box-shadow:
        inset -3px -3px 4px rgba(000,000,000,0.5),
        inset 3px 3px 4px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        inset -3px -3px 4px rgba(000,000,000,0.5),
        inset 3px 3px 4px rgba(255,255,255,0.5);
    box-shadow:
        inset -3px -3px 4px rgba(000,000,000,0.5),
        inset 3px 3px 4px rgba(255,255,255,0.5);

    /* Transition after releasing the button */
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition:	 all 0.1s ease-in;
    transition: all 0.1s ease-in;

}

.button-previous {
    position:relative;
    display:table-cell;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    vertical-align:middle;
    left: -10px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 36px solid #fff;
}

.button-next {
    position:relative;
    display:table-cell;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    vertical-align:middle;
    right: -10px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 36px solid #fff;
}

.button-down {
    position:relative;
    display:block;
    box-sizing:border-box;
    margin-right:auto;
    margin-left:auto;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    vertical-align:top;
    bottom:-10px;
    alignment-adjust:central;
    border-top: 30px solid #FFF;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
}

.button-up {
    position:relative;
    display:block;
    box-sizing:border-box;
    margin-right:auto;
    margin-left:auto;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    vertical-align:top;
    top:-10px;
    alignment-adjust:central;
    border-bottom: 30px solid #FFF;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
}

.button-row {
    display:table-row;
}
.button-table {
    display:table;
    height:100%;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}
.button-cell {
    display:table-cell;
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
}

.menu-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
}

/*

<button type="button" name="" value="" class="button-primary">A simple button with no arrows</button>
<br /><br />

<button type="button" name="" value="" class="button-primary">
        <div class="button-cell"><div class="button-table"><div class="button-previous"></div></div></div>
        <div style="width:170px" class="button-text">Previous</div>
</button>

&nbsp;&nbsp;

<button type="button" name="" value="" class="button-primary">
        <div style="width:170px" class="button-text">Next</div>
        <div class="button-cell"><div class="button-table"><div class="button-next"></div></div></div>
</button>
<br /><br />


<button type="button" name="" value="" class="button-primary">
        <div class="button-cell"><div class="button-table"><div class="button-previous"></div></div></div>
        <div class="button-text">Back<br />to start</div>
</button>

<br /><br />
<button type="button" name="" value="" class="button-primary">
        <div class="button-table" style="width:100%">
                <div class="button-table" style="width:30px;"><div class="button-up"></div></div>
        </div>
        <div class="button-text">Scroll up</div>
</button>

<br /><br />
<button type="button" name="" value="" class="button-primary">
        <div class="button-text">Scroll down</div>
        <div class="button-table" style="width:100%">
                <div class="button-table" style="width:30px;"><div class="button-down"></div></div>
        </div>
</button>
*/

