@charset "UTF-8";
/* CSS Document */

.date {
    position: relative;
    display: inline-block;
    text-align: right;
    font: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: #334c85;
    padding: 12px;
}

.clock {
    position: relative;
    display: inline-block;
    padding: 12px;
    margin: 8px;
    z-index: 5;

    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(226,226,226,1) 0%, rgba(160,160,160,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(226,226,226,1)),
        color-stop(100%,rgba(160,160,160,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(226,226,226,1) 0%,rgba(160,160,160,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(226,226,226,1) 0%,rgba(160,160,160,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(226,226,226,1) 0%,rgba(160,160,160,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(226,226,226,1) 0%,rgba(160,160,160,1) 100%); /* W3C */
    filter: 	progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2',
        endColorstr='#a0a0a0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -moz-box-shadow:
        inset -3px -3px 7px rgba(000,000,000,0.5),
        inset 3px 3px 7px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        inset -3px -3px 7px rgba(000,000,000,0.5),
        inset 3px 3px 7px rgba(255,255,255,0.5);
    box-shadow:
        inset -3px -3px 7px rgba(000,000,000,0.5),
        inset 3px 3px 7px rgba(255,255,255,0.5);

    border-radius: 150px;
    -ms-border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -o-border-radius: 150px;
}
.clockBorderShadow {
    padding: 3px;

    background: rgb(34,34,34); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(34,34,34,1) 0%, rgba(255,255,255,1) 100%,
        rgba(102,102,102,1) 30%, rgba(238,238,238,1) 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(34,34,34,1)),
        color-stop(100%,rgba(255,255,255,1)), color-stop(30%,rgba(102,102,102,1)),
        color-stop(50%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(34,34,34,1) 0%,rgba(255,255,255,1) 100%,
        rgba(102,102,102,1) 30%,rgba(238,238,238,1) 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(34,34,34,1) 0%,rgba(255,255,255,1) 100%,
        rgba(102,102,102,1) 30%,rgba(238,238,238,1) 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(34,34,34,1) 0%,rgba(255,255,255,1) 100%,
        rgba(102,102,102,1) 30%,rgba(238,238,238,1) 50%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(34,34,34,1) 0%,rgba(255,255,255,1) 100%,
        rgba(102,102,102,1) 30%,rgba(238,238,238,1) 50%); /* W3C */
    filter: 	progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222',
        endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border-radius: 150px;
    -ms-border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -o-border-radius: 150px;
}
.clockBackground {
    position: relative;
    width: 100px;
    height: 100px;

    background: rgb(219,218,210); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(219,218,210,1) 0%, rgba(234,233,225,1) 40%, rgba(247,247,242,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(219,218,210,1)),
        color-stop(40%,rgba(234,233,225,1)), color-stop(100%,rgba(247,247,242,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(219,218,210,1) 0%,rgba(234,233,225,1) 40%,
        rgba(247,247,242,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(219,218,210,1) 0%,rgba(234,233,225,1) 40%,
        rgba(247,247,242,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(219,218,210,1) 0%,rgba(234,233,225,1) 40%,
        rgba(247,247,242,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(219,218,210,1) 0%,rgba(234,233,225,1) 40%,rgba(247,247,242,1) 100%); /* W3C */
    filter: 	progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdad2', endColorstr='#f7f7f2',
        GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    border-radius: 150px;
    -ms-border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -o-border-radius: 150px;
}

.seconds {
    position: absolute;
    left: 50px;
    height: 58px;
    top: 2px;
    width: 1px;
    background: #ff0000;
    z-index: 3;
    transform-origin: center 48px;
    -ms-transform-origin: center 48px; /* IE 9 */
    -webkit-transform-origin: center 48px; /* Safari and Chrome */
    -moz-transform-origin: center 48px; /* Firefox */
    -o-transform-origin: center 48px; /* Opera */
}
.minutes {
    position: absolute;
    left: 48px;
    height: 48px;
    top: 10px;
    width: 4px;
    background: #000000;
    z-index: 2;
    transform-origin: center 40px;
    -ms-transform-origin: center 40px; /* IE 9 */
    -webkit-transform-origin: center 40px; /* Safari and Chrome */
    -moz-transform-origin: center 40px; /* Firefox */
    -o-transform-origin: center 40px; /* Opera */
}
.hours {
    position: absolute;
    left: 48px;
    height: 38px;
    top: 20px;
    width: 4px;
    background: #000000;
    z-index: 1;
    transform-origin: center 30px;
    -ms-transform-origin: center 30px; /* IE 9 */
    -webkit-transform-origin: center 30px; /* Safari and Chrome */
    -moz-transform-origin: center 30px; /* Firefox */
    -o-transform-origin: center 30px; /* Opera */
}
.center {
    position: absolute;
    left: 46px;
    top: 46px;
    height: 8px;
    width: 8px;
    background: #333333;
    z-index: 4;
    border-radius: 50px;
    -ms-border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
}
.handles { margin: 0; }
.handles li {
    margin: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0%;
    left: 48px;
    width: 3px;
    height: 7px;
    text-indent: -9999px;
    overflow: hidden;
    background: #000000;
    transform-origin: center 50px;
    -ms-transform-origin: center 50px; /* IE 9 */
    -webkit-transform-origin: center 50px; /* Safari and Chrome */
    -moz-transform-origin: center 50px; /* Firefox */
    -o-transform-origin: center 50px; /* Opera */
}
.handles li:nth-child(2) {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Safari and Chrome */
    -o-transform: rotate(30deg); /* Opera */
    -moz-transform: rotate(30deg); /* Firefox */
}
.handles li:nth-child(3) {
    transform: rotate(60deg);
    -ms-transform: rotate(60deg); /* IE 9 */
    -webkit-transform: rotate(60deg); /* Safari and Chrome */
    -o-transform: rotate(60deg); /* Opera */
    -moz-transform: rotate(60deg); /* Firefox */
}
.handles li:nth-child(4) {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -o-transform: rotate(90deg); /* Opera */
    -moz-transform: rotate(90deg); /* Firefox */
}
.handles li:nth-child(5) {
    transform: rotate(120deg);
    -ms-transform: rotate(120deg); /* IE 9 */
    -webkit-transform: rotate(120deg); /* Safari and Chrome */
    -o-transform: rotate(120deg); /* Opera */
    -moz-transform: rotate(120deg); /* Firefox */
}
.handles li:nth-child(6) {
    transform: rotate(150deg);
    -ms-transform: rotate(150deg); /* IE 9 */
    -webkit-transform: rotate(150deg); /* Safari and Chrome */
    -o-transform: rotate(150deg); /* Opera */
    -moz-transform: rotate(150deg); /* Firefox */
}
.handles li:nth-child(7) {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -o-transform: rotate(180deg); /* Opera */
    -moz-transform: rotate(180deg); /* Firefox */
}
.handles li:nth-child(8) {
    transform: rotate(210deg);
    -ms-transform: rotate(210deg); /* IE 9 */
    -webkit-transform: rotate(210deg); /* Safari and Chrome */
    -o-transform: rotate(210deg); /* Opera */
    -moz-transform: rotate(210deg); /* Firefox */
}
.handles li:nth-child(9) {
    transform: rotate(240deg);
    -ms-transform: rotate(240deg); /* IE 9 */
    -webkit-transform: rotate(240deg); /* Safari and Chrome */
    -o-transform: rotate(240deg); /* Opera */
    -moz-transform: rotate(240deg); /* Firefox */
}
.handles li:nth-child(10) {
    transform: rotate(270deg);
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari and Chrome */
    -o-transform: rotate(270deg); /* Opera */
    -moz-transform: rotate(270deg); /* Firefox */
}
.handles li:nth-child(11) {
    transform: rotate(300deg);
    -ms-transform: rotate(300deg); /* IE 9 */
    -webkit-transform: rotate(300deg); /* Safari and Chrome */
    -o-transform: rotate(300deg); /* Opera */
    -moz-transform: rotate(300deg); /* Firefox */
}
.handles li:nth-child(12) {
    transform: rotate(330deg);
    -ms-transform: rotate(330deg); /* IE 9 */
    -webkit-transform: rotate(330deg); /* Safari and Chrome */
    -o-transform: rotate(330deg); /* Opera */
    -moz-transform: rotate(330deg); /* Firefox */
}


