/*
    Document   : menu
    Created on : 2013-mar-08, 16:08:10
    Description:
        Buttons for the MemoryLane Review Client menu.
*/

@charset "UTF-8";
/* CSS Document */


.menu-primary:active {
    /* Look and feel of checked button (dark blue, gradient), including white text */
    /* Gradients generated at http://www.colorzilla.com/gradient-editor/  */
    background: #0c2d70; /* Old browsers */
    background: -moz-linear-gradient(top,  #0c2d70 0%, #2f477a 44%, #255087 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c2d70), color-stop(44%,#2f477a), color-stop(100%,#255087)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0c2d70 0%,#2f477a 44%,#255087 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0c2d70 0%,#2f477a 44%,#255087 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0c2d70 0%,#2f477a 44%,#255087 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0c2d70 0%,#2f477a 44%,#255087 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c2d70', endColorstr='#255087',GradientType=0 ); /* IE6-9 */

    /* Inline shadows */
    -moz-box-shadow: inset 2px 2px 4px #003;
    -webkit-box-shadow: inset 2px 2px 4px #003;
    box-shadow: inset 2px 2px 4px #003;

    /* White text color */
    color:#fff;
}

.menu-primary:disabled {
    /* Look and feel of checked button (dark blue, gradient), including white text */
    /* Gradients generated at http://www.colorzilla.com/gradient-editor/  */
    background: #0c2d70; /* Old browsers */
    background: -moz-linear-gradient(top,  #0c2d70 0%, #2f477a 44%, #255087 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c2d70), color-stop(44%,#2f477a), color-stop(100%,#255087)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0c2d70 0%,#2f477a 44%,#255087 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0c2d70 0%,#2f477a 44%,#255087 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0c2d70 0%,#2f477a 44%,#255087 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0c2d70 0%,#2f477a 44%,#255087 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c2d70', endColorstr='#255087',GradientType=0 ); /* IE6-9 */

    /* Inline shadows */
    -moz-box-shadow: inset 2px 2px 4px #003;
    -webkit-box-shadow: inset 2px 2px 4px #003;
    box-shadow: inset 2px 2px 4px #003;

    /* White text color */
    color:#fff;
}

.menu-primary {
    /* General shape of button */
    -webkit-appearance: none;
    /*width:180px; /* Size of button */
    height:auto; /* Size of button */
    /*line-height:50px; /* Where text should end up vertically */
    -moz-border-radius:20px; /* Radius of corners to make the button circular */
    -webkit-border-radius:20px; /* Radius of corners to make the button circular */
    border-radius:20px; /* In case there is a border around the button */
    padding:10px;
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    position:relative;
    font:Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    margin:0px;

    /* Look and feel of unchecked button (light blue, gradient), including black text */
    /* Gradients generated at http://www.colorzilla.com/gradient-editor/  */
    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #28b0ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#28b0ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#28b0ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#28b0ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#28b0ff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#28b0ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#28b0ff',GradientType=0 ); /* IE6-9 */

    /* Inline shadows */
    -moz-box-shadow: inset -2px -2px 4px #114;
    -webkit-box-shadow: inset -2px -2px 4px #114;
    box-shadow: inset -2px -2px 4px #114;

    /* Black text color */
    color:#000;

}

.menu-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.menu-table {
    float:left;
    display:table;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
    padding: 1px 1px;
    border: 1px solid black;
}

.menu-table.row {
    float: none;
    display:table-row;
    padding: 0px 0px;
}

.menun-table.cell {
    float: none;
    display:table-cell;
    padding: 0px 0px;
}

