<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <?php
        // setting character set in HTML5
        $this->headMeta()->setCharset('UTF-8');
        echo $this->headTitle($this->translate('MemoryLane Cluster Algorithm'))->setSeparator(' - ')->setAutoEscape(false)
        ?>
        <?php
        echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('Content-Type', 'text/html;charset=UTF-8')
        ?>

        <!-- Styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/x-icon', 'href' => $this->basePath() . '/images/favicon2.ico'))
                ->prependStylesheet($this->basePath() . '/css/body.css')
                //->prependStylesheet($this->basePath() . '/css/buttons.css')
                //->prependStylesheet($this->basePath() . '/css/menu.css')
                ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
        //->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
        ?>
        <!-- Scripts -->
        <?php
        /*
          echo $this->headScript()
          ->prependFile($this->basePath() . '/js/body.js')
          ->prependFile($this->basePath() . '/js/common.js')
          ->prependFile($this->basePath() . '/js/jquery-2.0.2.min.js')
         */
        ?>


    </head>
    <body>
        <!--content-->
        <?php echo $this->content; ?>
        <!--content-->
    </body>
</html>
