<?php
$form = $this->form;
$form->prepare();

$place = $form->get('place');
$image_src = $form->get('tempImage')->getValue();
$upload = $form->get('upload');
?>

<h2><?= $this->translate($place->getLabel()) ?></h2>

<hr />

<?= $this->form()->openTag($form); ?>
<img src="<?= $image_src ?>" class="places">
<br />
<?= $this->formFile($upload->get('file')); ?>
<?= $this->formButton($upload->get('upload-button')); ?>

<div>
    <?php
//echo $this->formFile($upload->get('file'));
    echo $this->formHidden($place->get('placeId'));
    echo $this->formHidden($form->get('tempImage'));
    echo $this->formHidden($place->get('src'));
    echo $this->formRow($place->get('placeName'));
//echo $this->formElementErrors($gender);
    echo $this->formRow($place->get('description'));
    echo $this->formRow($place->get('address'));

    echo $this->formHidden($form->get('csrf'));
    echo $this->formHidden($form->get('specialFlag'));
    ?>

    <br />
    <?= $this->formLabel($form->get('submit-yes')) ?>
    <div class="standard">
        <div class="standard cell">
            <?= $this->formSubmit($form->get('submit-yes')); ?>
        </div>
        <div class="standard cell">
            <?= $this->formSubmit($form->get('submit-no')); ?>
        </div>
    </div>
    <br />
</div>
<?= $this->form()->closeTag(); ?>

