<div style="display:table; height:100%; width:100%;">
    <div style="display:table-row;">
        <div style="display:table-cell; vertical-align:middle; text-align:center;">
            <button type ="button" class="button-primary"
                    onclick="open_info_window('<?= $this->url('place', array('action' => 'add')) ?>', '')">
                        <?= $this->translate('Add a new place') ?>
            </button>
        </div>
    </div>
    <hr />
    <div style="display:table-row">
        <div style="display:table-cell; vertical-align:top; text-align:center;">
            <div class="sample">
                <?php
                foreach ($places as $place) :
                    $path = $place->getSrc();
                    $name = $place->getPlaceName();
                    $id = $place->getPlaceId();
                    ?>
                    <div class="sample cell">
                        <div style="text-align:center"><?= $name ?></div>
                        <a onclick="open_info_window('<?= $this->url('place', array('action' => 'view', 'id' => $id)) ?>?refresh_on_close=true', '')">
                            <img src="<?= $path ?>" alt="<?= $name ?>" class="places">
                        </a>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
</div>
