<div style="display:table; height:100%; width:100%;">
    <?php
    $storyCategories = $this->storyCategories;
    $activityArray = $this->activityArray;
    $nrOfCategories = count($storyCategories);
    $width = 100 / $nrOfCategories;
    foreach ($storyCategories as $category) :
        $categoryName = $category->getName();
        $categoryId = $category->getStoryCategoryId();
        ?>
        <div style="display:table-cell; vertical-align: top; border:5px outset white; width: <?= $width ?>%">
            <h2> <?= $this->translate($categoryName) ?></h2>
            <?php
            $activities = $activityArray[$categoryId];
            foreach ($activities as $activity) :
                $subject = $activity->getSubject();
                $src = $activity->getSrc();
                $id = $activity->getActivityId();
                ?>
                <div style="">
                    <h4><?= $subject ?></h4>
                    <img src="<?= $src ?>" alt="<?= $subject ?>" class="preview large border3D"
                         onclick="window.open('<?= $this->url('activity', array('action' => 'view', 'id' => $id)) ?>', '_self');">
                </div>
                <hr />
                <?php
            endforeach;
            echo '</div>';
        endforeach;
        ?>
    </div>
