<!--calendar/index.phtml-->
<?php
$daybefore_date = $this->daybefore_date;
$yesterday_date = $this->yesterday_date;
$today_date = $this->today_date;
$daybefore_result = $this->daybefore_result;
$yesterday_result = $this->yesterday_result;
$today_result = $this->today_result;
$tomorrow_timestamp = strtotime("+1 day", strtotime($today_date));
$tomorrow_object = new \DateTime();
$tomorrow_object->setTimestamp($tomorrow_timestamp);
$tomorrow_date = $tomorrow_object->format('Y-m-d');
?>
<div style="display:table; width:100%;">
    <div style="display:table-cell; vertical-align:top;width:33%;">
        <button type ="button" style="float:left" class="button-primary"
                onclick="window.open('<?= $this->url('calendar', array('action' => 'show')) ?>?date=<?= $yesterday_date ?>', '_self')">
            <
        </button>
        <h2><?= $daybefore_date ?></h2>
    </div>
    <div style="display:table-cell; vertical-align:top;width:33%;">
        <h2><?= $yesterday_date ?></h2>
    </div>
    <div style="display:table-cell; vertical-align:top;width:33%;">
        <button type ="button" style="float:right" class="button-primary"
                onclick="window.open('<?= $this->url('calendar', array('action' => 'show')) ?>?date=<?= $tomorrow_date ?>', '_self')">
            >
        </button>
        <h2><?= $today_date ?></h2>
    </div>
</div>

<div style="display:table; width:100%;">
    <div style="display:table-cell; vertical-align:top;width:33%;">
        <?php
        foreach ($daybefore_result as $activity):
            $src = $activity->getSrc();
            $subject = $activity->getSubject();
            $id = $activity->getActivityId();
            $startTime = \MLReview\Util\Translator::dateToString($activity->getStartTime());
            $endTime = \MLReview\Util\Translator::dateToString($activity->getEndTime());
            $nr_of_images = $activity->getMedias()->count();
            $reviewed = $activity->getReviewed();
            ?>
            <div style="text-align: left">
                <?= $subject ?><br />
                <?= $this->translate('From') ?>: <?= $startTime ?><br />
                <?= $this->translate('To') ?>: <?= $endTime ?><br />
            </div>
            <?php if (!$reviewed) { ?>
                <div class="reviewtext no"><?= $this->translate('Not Reviewed'); ?></div>
            <?php } ?>
            <img src="<?= $src ?>" alt="<?= $subject ?>" class="preview large border3D"
                 onclick="window.open('<?= $this->url('activity', array('action' => 'view', 'id' => $id)) ?>', '_self');">
            <br />
            (<?= $nr_of_images ?>)
            <br />
            <hr />
            <?php
        endforeach;
        ?>
    </div>
    <div style="display:table-cell; vertical-align:top;width:33%;">
        <?php
        foreach ($yesterday_result as $activity):
            $src = $activity->getSrc();
            $subject = $activity->getSubject();
            $id = $activity->getActivityId();
            $startTime = \MLReview\Util\Translator::dateToString($activity->getStartTime());
            $endTime = \MLReview\Util\Translator::dateToString($activity->getEndTime());
            $nr_of_images = $activity->getMedias()->count();
            $reviewed = $activity->getReviewed();
            ?>
            <div style="text-align: left">
                <?= $subject ?><br />
                <?= $this->translate('From') ?>: <?= $startTime ?><br />
                <?= $this->translate('To') ?>: <?= $endTime ?><br />
            </div>
            <?php if (!$reviewed) { ?>
                <div class="reviewtext no"><?= $this->translate('Not Reviewed'); ?></div>
            <?php } ?>
            <img src="<?= $src ?>" alt="<?= $subject ?>" class="preview large border3D"
                 onclick="window.open('<?= $this->url('activity', array('action' => 'view', 'id' => $id)) ?>', '_self');">
            <br />
            (<?= $nr_of_images ?>)
            <br />
            <hr />
            <?php
        endforeach;
        ?>
    </div>
    <div style="display:table-cell; vertical-align:top;width:33%;">
        <?php
        foreach ($today_result as $activity):
            $src = $activity->getSrc();
            $subject = $activity->getSubject();
            $id = $activity->getActivityId();
            $startTime = \MLReview\Util\Translator::dateToString($activity->getStartTime());
            $endTime = \MLReview\Util\Translator::dateToString($activity->getEndTime());
            $nr_of_images = $activity->getMedias()->count();
            $reviewed = $activity->getReviewed();
            ?>
            <div style="text-align: left">
                <?= $subject ?><br />
                <?= $this->translate('From') ?>: <?= $startTime ?><br />
                <?= $this->translate('To') ?>: <?= $endTime ?><br />
            </div>
            <?php if (!$reviewed) { ?>
                <div class="reviewtext no"><?= $this->translate('Not Reviewed'); ?></div>
            <?php } ?>
            <img src="<?= $src ?>" alt="<?= $subject ?>" class="preview large border3D"
                 onclick="window.open('<?= $this->url('activity', array('action' => 'view', 'id' => $id)) ?>', '_self');">
            <br />
            (<?= $nr_of_images ?>)
            <br />
            <hr />
            <?php
        endforeach;
        ?>
    </div>
</div>
