<?php
/*
 * This file is part of the Memory Lane Review Client
 *
 * Copyright (c) 2013, Lulea University of Technology  (http://www.ltu.se)
 */
?>
<?php echo $this->doctype(); ?>

<html>
    <head>
        <?php
        // setting character set in HTML5
        $this->headMeta()->setCharset('ISO-8859-1'); //Latin 1
        echo $this->headTitle($this->translate('MemoryLane Review Client'))->setSeparator(' - ')->setAutoEscape(false)
        ?>

        <?php
        echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('Content-Type', 'text/html;charset=ISO-8859-1')
        ?>

        <!-- Styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/x-icon', 'href' => $this->basePath() . '/images/favicon2.ico'))
                ->prependStylesheet($this->basePath() . '/css/body.css')
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()
                ->prependFile($this->basePath() . '/js/body.js')
                ->prependFile($this->basePath() . '/js/common.js')
        ?>

    </head>

    <body>

        <!--A page that just closes the current window and reload the parent window-->
        <script language="JavaScript">
            <!--
            window.close();
            //-->
        </script>

    </body>
</html>