<?php
/*
 * This file is part of the Memory Lane Review Client
 *
 * Copyright (c) 2013, Lulea University of Technology  (http://www.ltu.se)
 */

use Zend\Form\Form;
use Zend\Form\Element;
?>
<?php echo $this->doctype(); ?>

<html>
    <head>
        <?php
        // setting character set in HTML5
        $this->headMeta()->setCharset('UTF-8');
        echo $this->headTitle($this->translate('MemoryLane Review Client'))->setSeparator(' - ')->setAutoEscape(false)
        ?>

        <?php
        echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')
                //->appendHttpEquiv('refresh', '300')
                ->appendHttpEquiv('Content-Type', 'text/html;charset=UTF-8')
        ?>

        <!-- Styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/x-icon', 'href' => $this->basePath() . '/images/favicon2.ico'))
                ->prependStylesheet($this->basePath() . '/css/body.css')
                ->prependStylesheet($this->basePath() . '/css/buttons.css')
                ->prependStylesheet($this->basePath() . '/js/timepicker/jquery-ui-timepicker-addon.css')
                ->prependStylesheet($this->basePath() . '/css/menu.css')
                ->prependStylesheet($this->basePath() . '/css/keyboard.css')
                ->prependStylesheet($this->basePath() . '/js/jquerycal/css/sunny/jquery-ui-1.10.3.custom.min.css')
                ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                ->prependStylesheet($this->basePath() . '/css/date-and-clock.css')
        ?>
        <!-- Scripts -->
        <?php
        echo $this->headScript()
                ->prependFile($this->basePath() . '/js/date/clock.js')
                ->prependFile($this->basePath() . '/js/date/date.js')
                ->prependFile($this->basePath() . '/js/body.js')
                ->prependFile($this->basePath() . '/js/common.js')
                ->prependFile($this->basePath() . '/js/timepicker/jquery-ui-timepicker-addon.js')
                ->prependFile($this->basePath() . '/js/keyboard.js', 'text/javascript', array('charset' => 'UTF-8'))
                ->prependFile($this->basePath() . '/js/jquerycal/js/i18n/jquery.ui.datepicker-sv.js')
                ->prependFile($this->basePath() . '/js/jquerycal/js/jquery-ui-1.10.3.custom.min.js')
                ->prependFile($this->basePath() . '/js/jquery-2.0.2.min.js')
        //->prependFile($this->basePath() . '/js/timepicker/i18n/jquery-ui-timepicker-sv.js')
        ?>

        <!--jQuery calendar initializer-->
        <script type="text/javascript">
            var language = "<?= $this->getSession()->language; ?>";

            $(document).ready(function() {

                $("#datepicker").datepicker({
                    showOn: 'button',
                    //buttonImageOnly: true,
                    //buttonImage: 'images/logo.jpg',
                    dateFormat: 'yy-mm-dd',
                    changeMonth: true,
                    changeYear: true,
                    defaultDate: new Date(),
                    duration: 'fast',
                    minDate: '1900-01-01',
                    maxDate: '2030-12-31',
                    hideIfNoPrevNext: true,
                    showAnim: 'slideDown',
                    showButtonPanel: false,
                    showWeek: false,
                    yearRange: '1900:2030',
                    selectMultiple: true,
                    onSelect: function(dateText, inst) {
                        window.open(
                                "<?php echo $this->url("calendar", array('action' => 'show')) ?>?date=" + dateText, "_self"
                                );
                    },
                    beforeShow: function() {
                        $(".ui-datepicker").css('font-size', 24)
                    },
                    beforeShowDay: selectOldActivtiesDates // invoke for each day in the calendar before the calendar is shown
                });
                //Styling the datepicker
                $('#datepicker').datepicker('option', 'buttonText', '<?= $this->translate('Calendar') ?>');
                $(".ui-datepicker-trigger").addClass('menu-primary');

                //Language for timepicker
                //Not working in js-file for some reason
                $.timepicker.regional['sv'] = {
                    timeOnlyTitle: 'Välj en tid',
                    timeText: 'Timme',
                    hourText: 'Timmar',
                    minuteText: 'Minuter',
                    secondText: 'Sekunder',
                    millisecText: 'Millisekunder',
                    microsecText: 'Mikrosekunder',
                    timezoneText: 'Tidszon',
                    currentText: 'Nu',
                    closeText: 'Stäng',
                    timeFormat: 'HH:mm',
                    amNames: ['AM', 'A'],
                    pmNames: ['PM', 'P'],
                    isRTL: false
                };

                //Start date in date/date.js
                setInterval(function() {
                    startDate(language)
                }, 1000);

                //Pick language for calendars
                if (language === "sv_SE") {
                    $.datepicker.setDefaults($.datepicker.regional['sv']);
                    $.timepicker.setDefaults($.timepicker.regional['sv']);
                }
                //timepicker
                $('#datetimepicker_start').datetimepicker({
                    dateFormat: 'yy-mm-dd',
                    changeMonth: true,
                    changeYear: true,
                    defaultDate: new Date(),
                    duration: 'fast',
                    minDate: '1900-01-01',
                    maxDate: '2030-12-31',
                    hideIfNoPrevNext: true,
                    showAnim: 'slideDown',
                    showButtonPanel: false,
                    showWeek: false,
                    yearRange: '1900:2030',
                });
                $('#datetimepicker_end').datetimepicker({
                    dateFormat: 'yy-mm-dd',
                    changeMonth: true,
                    changeYear: true,
                    defaultDate: new Date(),
                    duration: 'fast',
                    minDate: '1900-01-01',
                    maxDate: '2030-12-31',
                    hideIfNoPrevNext: true,
                    showAnim: 'slideDown',
                    showButtonPanel: false,
                    showWeek: false,
                    yearRange: '1900:2030',
                });
            });

            var oldActivtiesDates = new Array();
<?php
$oldActivities = $this->getOldActivityDates();
foreach ($oldActivities as $act) {
    echo 'oldActivtiesDates.push("' . $act . '");';
}
?>

            function selectOldActivtiesDates(date) {
                var gotDate = $.inArray($.datepicker.formatDate($(this).datepicker('option', 'dateFormat'), date), oldActivtiesDates);
                if (gotDate >= 0) { // if the day's date is an old activity date
                    return [true, "ui-state-active"]; // change the CSS style
                }
                return [true, ""]; // otherwise, keep the ordinary CSS style
            }

        </script>
        <!--//jQuery calendar initializer-->

    </head>
    <body>
        <!--Header-->
        <div id="header" class="header row">
            <!--Menu-->
            <div style="position: absolute; left:0px; top:0px; margin: 8px 0px 0px 8px;">
                <div style="float: left">
                    <?php
                    //Add these pages in the module.config.php file
                    $navigation = $this->navigation('navigation');
                    $container = $navigation->getPages();
                    foreach ($container as $page) {
                        //The Calendar is not going to work as a regular page
                        $isCalendar = (strpos($page->getRoute(), 'calendar') !== false);
                        if ($isCalendar) {
                            echo "<input type='hidden' style='font-size:30px !important;' id='datepicker'></input>";
                        } else {
                            echo "<a href='";
                            echo $this->url($page->getRoute());
                            echo "'>\n";
                            echo "<button type='button' ";
                            if ($page->isActive()) {
                                echo "disabled='true' ";
                            }
                            echo "class='menu-primary'>\n";
                            echo $this->translate($page->getLabel());
                            echo "</button>\n";
                            echo "</a>\n";
                        }
                    }
                    ?>
                </div>
                <!--//Menu-->
                <!--Language-->
                <div style="float: none">
                    <?PHP
                    //Language form to handle language change
                    $language_form = new Form();
                    $language_form->setAttribute('action', $this->url('change_language'));
                    $language_form->setAttribute('method', 'post');
                    $language_form->setAttribute('id', 'language_form');
                    $language_form->prepare();
                    echo $this->form()->openTag($language_form);
                    //Collect the current route and post it with language form
                    $route_element = new Element\Hidden('current_route');
                    //$sl = $this->getHelperPluginManager()->getServiceLocator();
                    //$routeMatch = $sl->get('Application')->getMvcEvent()->getRouteMatch();
                    //echo $this->getRoute();
                    //Calling view helper getRoute(), See Module.php.
                    $route_element->setValue($this->absoluteUrl());
                    echo $this->formHidden($route_element);
                    ?>
                    <input type="hidden" name="language" id="lang" value="en_GB">
                    <img src="/images/sweden.gif" alt="Swedish" class="flag"
                         onclick="$('#lang').val('sv_SE');
                $('#language_form').submit();">
                    <img src="/images/united_kingdom.gif" alt="English" class="flag"
                         onclick="$('#language_form').submit();">
                         <?= $this->form()->closeTag(); ?>
                </div>
            </div>
            <!--//Language-->
            <!--Clock-->
            <div style="position: absolute; right:0px; top:0px; display: inline-block;">
                <div style="float: left; left:0px; top:0px;" class="date">
                    <span class="weekday"></span><br />
                    <span class="datenumber"></span>
                    <span class="month"></span>
                </div>

                <div style="float: right; right:0px; top:0px;" id="clock" class="clock">
                    <div class="clockBorderShadow">
                        <div class="clockBackground">
                            <div id="seconds" class="seconds"></div>
                            <div id="minutes" class="minutes"></div>
                            <div id="hours" class="hours"></div>
                            <div class="center"></div>

                            <ol class="handles">
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li>7</li>
                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>11</li>
                                <li>12</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!--//Clock-->
            <hr style="position:relative; top: 118px;"/>
        </div>
        <!--//Header-->

        <!--content-->
        <div id="content" class="body row scroll-y">
            <?php echo $this->content; ?>
        </div>
        <!--//content-->

        <!--footer-->
        <div id="footer" class="footer row">
        </div>
        <!--//footer-->
    </body>
</html>
