<?php
$form = $this->form;
$form->prepare();

$person = $form->get('person');
$image_src = $form->get('tempImage')->getValue();
$upload = $form->get('upload');
?>

<h2><?= $this->translate($person->getLabel()) ?></h2>

<hr />

<?= $this->form()->openTag($form); ?>
<img src="<?= $image_src ?>" class="persons">
<br />
<?= $this->formFile($upload->get('file')); ?>
<?= $this->formButton($upload->get('upload-button')); ?>

<div>
    <?php
//echo $this->formFile($upload->get('file'));
    echo $this->formHidden($person->get('personId'));
    echo $this->formHidden($form->get('tempImage'));
    echo $this->formHidden($person->get('src'));
    echo $this->formRow($person->get('firstName'));
//echo $this->formElementErrors($gender);
    echo $this->formRow($person->get('lastName'));
    echo $this->formRow($person->get('personalInfo'));
    echo $this->formRow($person->get('phone'));

    echo $this->formHidden($form->get('csrf'));
    echo $this->formHidden($form->get('specialFlag'));
    ?>

    <br />
    <?= $this->formLabel($form->get('submit-yes')) ?>
    <div class="standard">
        <div class="standard cell">
            <?= $this->formSubmit($form->get('submit-yes')); ?>
        </div>
        <div class="standard cell">
            <?= $this->formSubmit($form->get('submit-no')); ?>
        </div>
    </div>
    <br />
</div>
<?= $this->form()->closeTag(); ?>

