<div style="display:table; height:100%; width:100%;">
    <div style="display:table-row;">
        <div style="display:table-cell; vertical-align:middle; text-align:center;">
            <button type ="button" class="button-primary"
                    onclick="open_info_window('<?= $this->url('person', array('action' => 'add')) ?>', '')">
                        <?= $this->translate('Add a new person') ?>
            </button>
        </div>
    </div>
    <hr />
    <div style="display:table-row">
        <div style="display:table-cell; vertical-align:top; text-align:center;">
            <div class="sample">
                <?php
                foreach ($persons as $person) :
                    $path = $person->getSrc();
                    $name = $person->getFirstName() . ' ' . $person->getLastName();
                    $id = $person->getPersonId();
                    ?>
                    <div class="sample cell">
                        <div style="text-align:center"><?= $name ?></div>
                        <a onclick="open_info_window('<?= $this->url('person', array('action' => 'view', 'id' => $id)) ?>?refresh_on_close=true', '');">
                            <img src="<?= $path ?>" alt="<?= $name ?>" class="persons">
                        </a>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
</div>
