<?php
$path = $person->getSrc();
$name = $person->getFirstName() . ' ' . $person->getLastName();
$id = $person->getPersonId();
$personal_info = $person->getPersonalInfo();
$phone = $person->getPhone();
$activities = $person->getActivities();
?>
<br />
<div class="known">
    <div class="known cell">
        <img src="<?= $path ?>" alt="<?= $name ?>" class="persons">
    </div>
    <div class="known cell">
        <?= $name ?>
        <br />
        <br />
        <?= $personal_info ?>
        <br  />
        <br />
        <?= $phone ?>
    </div>
</div>
<br />
<div class="standard">
    <div class="standard cell">
        <button type ="button" class="button-primary" onclick="open_info_window('<?= $this->url('person', array('action' => 'edit', 'id' => $id)) ?>', '')"><?= $this->translate('Edit') ?></button>
    </div>
    <div class="standard cell">
        <button type ="button" class="button-primary" onclick="open_info_window('<?= $this->url('person', array('action' => 'delete', 'id' => $id)) ?>', '')"><?= $this->translate('Delete') ?></button>
    </div>
</div>
<br />

<div class='standard bordersmall'>
    <?php
    foreach ($activities as $act):
        $subject = $act->getSubject();
        $startTime = \MLReview\Util\Translator::dateToString($act->getStartTime());
        $endTime = \MLReview\Util\Translator::dateToString($act->getEndTime());
        $date = $this->translate('From') . ': ' . $startTime . '<br />' .
                $this->translate('To') . ': ' . $endTime;
        $src = $act->getSrc();
        $id = $act->getActivityId();
        ?>
        <div class="standard newrow">
            <div class="standard cell bordersmall">
                <img src="<?= $src ?>" alt="<?= $subject ?>" class="preview small"
                     onclick="window.opener.location.href =
                            '<?= $this->url('activity', array('action' => 'edit', 'id' => $id)) ?>';
                    window.close();
                     ">
            </div>
            <div class="standard cell bordersmall">
                <?= $date ?>
                <br />
                <?= $subject ?>
            </div>
        </div>
    <?php endforeach; ?>
</div>
<br />

<div class="standard">
    <div class="standard cell">
        <button type ="button" class="button-primary" onclick="
                <?php
                if (!empty($refresh_on_close)) {
                    echo "refresh_parent()";
                } else {
                    echo "window.close()";
                }
                ?>
                "><?= $this->translate('Close') ?></button>
    </div>
</div>
